In [3]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import datetime
import plotly.express as px
import numpy as np

df=pd.read_parquet('../data/df.parquet')

df_total=pd.read_parquet('../data/df_total.parquet')

df_total_remote=pd.read_parquet('/home/carpiero/ir/trash_projects/df_total.parquet')

print(df.info(memory_usage='deep'))
print(df_total.info(memory_usage='deep'))
print(df_total_remote.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214619 entries, 0 to 254945
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                214619 non-null  datetime64[ns]
 1   tweet_id                  214619 non-null  object
 2   Tweet_Content             214619 non-null  object
 3   name                      214619 non-null  category
 4   user_id                   214619 non-null  category
 5   user_followers            214619 non-null  int64
 6   user_location             214619 non-null  category
 7   source                    214619 non-null  category
 8   entities                  214619 non-null  object
 9   reply_user_id             214619 non-null  category
 10  reply_status_id           214619 non-null  category
 11  Tweet_Number_of_Likes     214619 non-null  int64
 12  Tweet_Number_of_Retweets  214619 non-null  int64
 13  username                  214619 non-null  category
 14  GRUPO                     214619 non-null  category
 15  urls                      214619 non-null  object
 16  stars                     214619 non-null  int64
 17  stars_score               214619 non-null  float64
 18  Year                      214619 non-null  int64
 19  Month                     214619 non-null  int64
 20  Day                       214619 non-null  int64
 21  Tweet_Content_Token       214619 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 267.3 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 214619 entries, 0 to 254945
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                214619 non-null  datetime64[ns]
 1   tweet_id                  214619 non-null  object
 2   Tweet_Content             214619 non-null  object
 3   name                      214619 non-null  category
 4   user_id                   214619 non-null  category
 5   user_followers            214619 non-null  int64
 6   user_location             214619 non-null  category
 7   source                    214619 non-null  category
 8   entities                  214619 non-null  object
 9   reply_user_id             214619 non-null  category
 10  reply_status_id           214619 non-null  category
 11  Tweet_Number_of_Likes     214619 non-null  int64
 12  Tweet_Number_of_Retweets  214619 non-null  int64
 13  username                  214619 non-null  category
 14  GRUPO                     214619 non-null  category
 15  urls                      214619 non-null  object
 16  stars                     214619 non-null  int64
 17  stars_score               214619 non-null  float64
 18  Year                      214619 non-null  int64
 19  Month                     214619 non-null  int64
 20  Day                       214619 non-null  int64
 21  Tweet_Content_Token       214619 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 265.7 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 214619 entries, 0 to 254945
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                214619 non-null  datetime64[ns]
 1   tweet_id                  214619 non-null  object
 2   Tweet_Content             214619 non-null  object
 3   name                      214619 non-null  category
 4   user_id                   214619 non-null  category
 5   user_followers            214619 non-null  int64
 6   user_location             214619 non-null  category
 7   source                    214619 non-null  category
 8   entities                  214619 non-null  object
 9   reply_user_id             214619 non-null  category
 10  reply_status_id           214619 non-null  category
 11  Tweet_Number_of_Likes     214619 non-null  int64
 12  Tweet_Number_of_Retweets  214619 non-null  int64
 13  username                  214619 non-null  category
 14  GRUPO                     214619 non-null  category
 15  urls                      214619 non-null  object
 16  stars                     214619 non-null  int64
 17  stars_score               214619 non-null  float64
 18  Year                      214619 non-null  int64
 19  Month                     214619 non-null  int64
 20  Day                       214619 non-null  int64
 21  Tweet_Content_Token       214619 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 265.7 MB
None

In [68]:
list_mean_columns_nulls=[df.describe().T.loc[f'{x}','mean']for x in df.describe().T.index]
list_mean_columns_allDataframe=[df_total.describe().T.loc[f'{x}','mean']for x in df_total.describe().T.index]
mean_subtraction=[u - v for (u, v) in zip(list_mean_columns_nulls, list_mean_columns_allDataframe)]

mean_subtraction

[0.0, 0.0, 0.0, 0.0, -1.1102230246251565e-16, 0.0, 0.0, 0.0]

In [69]:
df_total.describe().T

,count,mean,std,min,25%,50%,75%,max
user_followers,208749.0,6456.223148,156311.996410,0.000000,50.000000,191.000000,604.000000,3.553762e+07
Tweet_Number_of_Likes,208749.0,0.797618,16.342848,0.000000,0.000000,0.000000,0.000000,2.876000e+03
Tweet_Number_of_Retweets,208749.0,22.230952,129.431673,0.000000,0.000000,0.000000,1.000000,4.367000e+03
stars,208749.0,2.181184,1.756397,1.000000,1.000000,1.000000,5.000000,5.000000e+00
stars_score,208749.0,0.475917,0.169824,0.208895,0.333537,0.443577,0.596841,9.836761e-01
Year,208749.0,2020.502972,0.499992,2020.000000,2020.000000,2021.000000,2021.000000,2.021000e+03
Month,208749.0,6.550532,5.284346,1.000000,1.000000,2.000000,12.000000,1.200000e+01
Day,208749.0,15.539404,8.931697,1.000000,8.000000,15.000000,25.000000,3.100000e+01

In [70]:
df.describe()

,user_followers,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,stars,stars_score,Year,Month,Day
count,2.087490e+05,208749.000000,208749.000000,208749.000000,208749.000000,208749.000000,208749.000000,208749.000000
mean,6.456223e+03,0.797618,22.230952,2.181184,0.475917,2020.502972,6.550532,15.539404
std,1.563120e+05,16.342848,129.431673,1.756397,0.169824,0.499992,5.284346,8.931697
min,0.000000e+00,0.000000,0.000000,1.000000,0.208895,2020.000000,1.000000,1.000000
25%,5.000000e+01,0.000000,0.000000,1.000000,0.333537,2020.000000,1.000000,8.000000
50%,1.910000e+02,0.000000,0.000000,1.000000,0.443577,2021.000000,2.000000,15.000000
75%,6.040000e+02,0.000000,1.000000,5.000000,0.596841,2021.000000,12.000000,25.000000
max,3.553762e+07,2876.000000,4367.000000,5.000000,0.983676,2021.000000,12.000000,31.000000

In [71]:
df_total

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los termi...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, proce..."
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Tenéis solo unidades para los que...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me debéis 2 m...",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el mo...,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,@vodafone_es Hace 4 meses me cambié a Vodafone...,solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, inst..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248447,2021-02-17 02:39:23,1361867811220561922,@Bletesluur @jazztel_es Yo igual :(,min,1231806685,2435,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",601244336,...,0,@jazztel_es,Orange,no url,1,0.260242,2021,2,17,[]
248448,2021-02-17 02:14:40,1361861593588498439,@jazztel_es estoy sin teléfono fijo ni internet,Paul Brown,601244336,113,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,no url,1,0.655350,2021,2,17,"[fijo, internet]"
248449,2021-02-17 00:10:05,1361830240629186563,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGAÑA,916414922979991552,128,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,1,@jazztel_es,Orange,https://t.co/WeiyMkAkLI,1,0.601478,2021,2,17,"[entrar, adslzone, plataforma, afectados, jazz..."
248450,2021-02-17 00:09:58,1361830209687797762,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGAÑA,916414922979991552,128,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,1,@jazztel_es,Orange,https://t.co/QHgIKWZTMM,1,0.592403,2021,2,17,"[entrar, adslzone, plataforma, afectados, jazz..."
248451,2021-02-17 00:09:49,1361830172593426434,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGAÑA,916414922979991552,128,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,1,@jazztel_es,Orange,https://t.co/kQIKNc0KRn,1,0.585868,2021,2,17,"[entrar, adslzone, plataforma, afectados, jazz..."

In [72]:
df

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los termi...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, proce..."
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Tenéis solo unidades para los que...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me debéis 2 m...",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el mo...,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,@vodafone_es Hace 4 meses me cambié a Vodafone...,solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, inst..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248447,2021-02-17 02:39:23,1361867811220561922,@Bletesluur @jazztel_es Yo igual :(,min,1231806685,2435,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",601244336,...,0,@jazztel_es,Orange,no url,1,0.260242,2021,2,17,[]
248448,2021-02-17 02:14:40,1361861593588498439,@jazztel_es estoy sin teléfono fijo ni internet,Paul Brown,601244336,113,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,no url,1,0.655350,2021,2,17,"[fijo, internet]"
248449,2021-02-17 00:10:05,1361830240629186563,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGAÑA,916414922979991552,128,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,1,@jazztel_es,Orange,https://t.co/WeiyMkAkLI,1,0.601478,2021,2,17,"[entrar, adslzone, plataforma, afectados, jazz..."
248450,2021-02-17 00:09:58,1361830209687797762,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGAÑA,916414922979991552,128,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,1,@jazztel_es,Orange,https://t.co/QHgIKWZTMM,1,0.592403,2021,2,17,"[entrar, adslzone, plataforma, afectados, jazz..."
248451,2021-02-17 00:09:49,1361830172593426434,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGAÑA,916414922979991552,128,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,1,@jazztel_es,Orange,https://t.co/kQIKNc0KRn,1,0.585868,2021,2,17,"[entrar, adslzone, plataforma, afectados, jazz..."

In [88]:
today = datetime.date.today()
yest = today - datetime.timedelta(days=1)
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

today2=pd.to_datetime(today)
yest2=pd.to_datetime(yest)

start_date = yest2
end_date = today2

df_fil = df.loc[(df['created_at'] >= start_date) & (df['created_at'] < end_date)]

In [74]:
df_fil.shape

(2279, 22)

In [100]:
USER_types= ['@vodafone_es','@vodafoneyu']
USER_types= ['@vodafone_es', '@yoigo', '@Amena', '@simyo_es',
       '@pepephone', '@movistar_es', '@orange_es', '@masmovil', '@o2es',
       '@Lowi_es', '@TuentiES', '@jazztel_es']
start_date=yest2
end_date=today2

In [81]:
df['username'].value_counts()

@vodafone_es    67110
@movistar_es    43452
@orange_es      27526
@yoigo          18895
@pepephone      12537
@vodafoneyu     12247
@masmovil       10800
@Lowi_es         6535
@o2es            4502
@Amena           1891
@jazztel_es      1515
@simyo_es        1480
@TuentiES         259
Name: username, dtype: int64

In [86]:
df_stars = df
# df_stars = df_stars.loc[df['username'].isin(USER_types)]
df_stars = df_stars.loc[(df_stars['username'].isin(USER_types)) & (df_stars['created_at'] >= start_date) & (df_stars['created_at'] < end_date) ,]
# df_media_total = df_stars.groupby(pd.Grouper(key='created_at' , freq='W'))[['stars']].mean().reset_index()
# df_media_total['username'] = 'Media Operadoras'
df_stars['count']=1
df_stars = df_stars.groupby(['username',pd.Grouper(key='created_at',freq='W')])[['count']].sum().reset_index()

/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
df_stars

        username created_at  count
0         @Amena 2021-02-21     18
1       @Lowi_es 2021-02-21     96
2      @TuentiES 2021-02-21      7
3    @jazztel_es 2021-02-21     69
4      @masmovil 2021-02-21     69
5   @movistar_es 2021-02-21    347
6          @o2es 2021-02-21     38
7     @orange_es 2021-02-21    305
8     @pepephone 2021-02-21     71
9      @simyo_es 2021-02-21      7
10  @vodafone_es 2021-02-21    987
11   @vodafoneyu 2021-02-21    163
12        @yoigo 2021-02-21    102

In [148]:
df= pd.read_parquet('../data/df.parquet')

df= df[df['username']!='@vodafoneyu']

df.to_csv('../data/df_proba.csv',sep='^')

df= pd.read_csv('../data/df_proba.csv',sep='^')

print(df.info(memory_usage='deep'))


df['username'].value_counts()


########### controls

# GRUPO=sorted(df['GRUPO'].unique().to_list())
# GRUPO_dict = dict(zip(GRUPO, GRUPO))

# USER=sorted(df['username'].unique().to_list())
# USER_dict = dict(zip(USER, USER))

# ################# wordcloud
# df_word=df[['username','created_at','Tweet_Content_Token']]


# ############## stars graph

# df_f=df[['stars','username','created_at','GRUPO','source']]


# df_f['orden'] = ''

# df_f.loc[df_f['username'] == '@vodafone_es' , 'orden'] = 11
# df_f.loc[df_f['username'] == '@Lowi_es' , 'orden'] = 13
# df_f.loc[df_f['username'] == '@vodafoneyu' , 'orden'] = 12
# df_f.loc[df_f['username'] == '@movistar_es' , 'orden'] = 4
# df_f.loc[df_f['username'] == '@TuentiES' , 'orden'] = 6
# df_f.loc[df_f['username'] == '@o2es' , 'orden'] = 5
# df_f.loc[df_f['username'] == '@orange_es' , 'orden'] = 7
# df_f.loc[df_f['username'] == '@jazztel_es' , 'orden'] = 10
# df_f.loc[df_f['username'] == '@Amena' , 'orden'] = 9
# df_f.loc[df_f['username'] == '@simyo_es' , 'orden'] = 8
# df_f.loc[df_f['username'] == '@masmovil' , 'orden'] = 1
# df_f.loc[df_f['username'] == '@pepephone' , 'orden'] = 2
# df_f.loc[df_f['username'] == '@yoigo' , 'orden'] = 3

# df_f['color'] = ''

# df_f.loc[df_f['username'] == '@vodafone_es' , 'color'] = '#E64A19'
# df_f.loc[df_f['username'] == '@Lowi_es' , 'color'] =   '#FF7043'   #'#FFAB91'
# df_f.loc[df_f['username'] == '@vodafoneyu' , 'color'] = '#FF7043'
# df_f.loc[df_f['username'] == '@movistar_es' , 'color'] = '#2962FF'
# df_f.loc[df_f['username'] == '@TuentiES' , 'color'] = '#82B1FF'
# df_f.loc[df_f['username'] == '@o2es' , 'color'] = '#0D47A1'
# df_f.loc[df_f['username'] == '@orange_es' , 'color'] = '#F57C00'
# df_f.loc[df_f['username'] == '@jazztel_es' , 'color'] = '#FFE0B2'
# df_f.loc[df_f['username'] == '@Amena' , 'color'] = '#FF9800'
# df_f.loc[df_f['username'] == '@simyo_es' , 'color'] = '#FFB74D'
# df_f.loc[df_f['username'] == '@masmovil' , 'color'] = '#FFFF00'
# df_f.loc[df_f['username'] == '@pepephone' , 'color'] = '#FFFF8D'
# df_f.loc[df_f['username'] == '@yoigo' , 'color'] = '#FFF9C4'


# df_g_stars=df_f[['stars','username','created_at','orden','color']]

# df_g_sunburst=df_f[['stars','username','created_at','GRUPO']]

# df_g_source=df_f[['username','created_at','source']]

# df_g_time=df_f[['stars','username','created_at']]

# df_g_menciones=df_f[['username','created_at']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196503 entries, 0 to 196502
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                196503 non-null  object
 1   created_at                196503 non-null  object
 2   tweet_id                  196503 non-null  int64
 3   Tweet_Content             196503 non-null  object
 4   name                      196496 non-null  object
 5   user_id                   196502 non-null  object
 6   user_followers            196502 non-null  object
 7   user_location             119695 non-null  object
 8   source                    196428 non-null  object
 9   entities                  196502 non-null  object
 10  reply_user_id             196502 non-null  object
 11  reply_status_id           196502 non-null  object
 12  Tweet_Number_of_Likes     196502 non-null  object
 13  Tweet_Number_of_Retweets  196502 non-null  object
 14  username                  196502 non-null  object
 15  GRUPO                     196502 non-null  object
 16  urls                      196502 non-null  object
 17  stars                     196502 non-null  float64
 18  stars_score               196502 non-null  float64
 19  Year                      196502 non-null  object
 20  Month                     196501 non-null  float64
 21  Day                       196501 non-null  float64
 22  Tweet_Content_Token       196501 non-null  object
dtypes: float64(4), int64(1), object(18)
memory usage: 340.7 MB
None

@vodafone_es    67110
@movistar_es    43452
@orange_es      27525
@yoigo          18895
@pepephone      12537
@masmovil       10800
@Lowi_es         6535
@o2es            4502
@Amena           1891
@jazztel_es      1515
@simyo_es        1480
@TuentiES         259
5                   1
Name: username, dtype: int64

In [145]:
df[df['username'] == '5']

,Unnamed: 0,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
160630,por favor,Álvaro Martínez,1298143039836348417,5,NaN,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",169001667,1354761208818266114,0,...,no url,5,0.3309511,2021,1.0,28.0,['hacerme' 'fibra' 'gb' 's' 'favor'],NaN,NaN,NaN

In [118]:
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date )

dias = end_date - start_date

if dias < datetime.timedelta(days=31):
    rest = datetime.timedelta(days=31) - dias
    start_date = start_date - rest

df_stars = df_g_menciones


df_g_menciones['username'].value_counts()
# df_stars = df_stars.loc[(df_stars['username'].isin(USER_types)) & (df_stars['created_at'] >= start_date) & (
#         df_stars['created_at'] < end_date) ,]



# df_stars['count'] = 1





# df_stars = df_stars.groupby(['username' , pd.Grouper(key='created_at' , freq='W')])[['count']].sum().reset_index()

@vodafone_es    67110
@movistar_es    43452
@orange_es      27526
@yoigo          18895
@pepephone      12537
@masmovil       10800
@Lowi_es         6535
@o2es            4502
@Amena           1891
@jazztel_es      1515
@simyo_es        1480
@TuentiES         259
@vodafoneyu         0
Name: username, dtype: int64

In [109]:
df_stars[df_stars['username'] == '@vodafoneyu']

       username created_at  count
55  @vodafoneyu 2021-01-24    NaN
56  @vodafoneyu 2021-01-31    NaN
57  @vodafoneyu 2021-02-07    NaN
58  @vodafoneyu 2021-02-14    NaN
59  @vodafoneyu 2021-02-21    NaN