In [13]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import datetime

df=pd.read_parquet('../data/df.parquet')

df_total=pd.read_parquet('../data/df_total.parquet')

print(df.info(memory_usage='deep'))
print(df_total.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197801 entries, 0 to 234125
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                197801 non-null  datetime64[ns]
 1   tweet_id                  197801 non-null  object
 2   Tweet_Content             197801 non-null  object
 3   name                      197801 non-null  category
 4   user_id                   197801 non-null  category
 5   user_followers            197801 non-null  int64
 6   user_location             197801 non-null  category
 7   source                    197801 non-null  category
 8   entities                  197801 non-null  object
 9   reply_user_id             197801 non-null  category
 10  reply_status_id           197801 non-null  category
 11  Tweet_Number_of_Likes     197801 non-null  int64
 12  Tweet_Number_of_Retweets  197801 non-null  int64
 13  username                  197801 non-null  category
 14  GRUPO                     197801 non-null  category
 15  urls                      197801 non-null  object
 16  stars                     197801 non-null  int64
 17  stars_score               197801 non-null  float64
 18  Year                      197801 non-null  int64
 19  Month                     197801 non-null  int64
 20  Day                       197801 non-null  int64
 21  Tweet_Content_Token       197801 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 247.9 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 197801 entries, 0 to 234125
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                197801 non-null  datetime64[ns]
 1   tweet_id                  197801 non-null  object
 2   Tweet_Content             197801 non-null  object
 3   name                      197801 non-null  object
 4   user_id                   197801 non-null  object
 5   user_followers            197801 non-null  int64
 6   user_location             197801 non-null  object
 7   source                    197801 non-null  object
 8   entities                  197801 non-null  object
 9   reply_user_id             197801 non-null  object
 10  reply_status_id           197801 non-null  object
 11  Tweet_Number_of_Likes     197801 non-null  int64
 12  Tweet_Number_of_Retweets  197801 non-null  int64
 13  username                  197801 non-null  object
 14  GRUPO                     197801 non-null  category
 15  urls                      197801 non-null  object
 16  stars                     197801 non-null  int64
 17  stars_score               197801 non-null  float64
 18  Year                      197801 non-null  int64
 19  Month                     197801 non-null  int64
 20  Day                       197801 non-null  int64
 21  Tweet_Content_Token       197801 non-null  object
dtypes: category(1), datetime64[ns](1), float64(1), int64(7), object(12)
memory usage: 311.8 MB
None

In [12]:
list_mean_columns_nulls=[df.describe().T.loc[f'{x}','mean']for x in df.describe().T.index]
list_mean_columns_allDataframe=[df_total.describe().T.loc[f'{x}','mean']for x in df_total.describe().T.index]
mean_subtraction=[u - v for (u, v) in zip(list_mean_columns_nulls, list_mean_columns_allDataframe)]

mean_subtraction

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [11]:
df_total.describe().T

,count,mean,std,min,25%,50%,75%,max
user_followers,197801.0,6552.050824,159619.988022,0.000000,50.000000,194.000000,607.000000,3.553762e+07
Tweet_Number_of_Likes,197801.0,0.819101,16.902767,0.000000,0.000000,0.000000,0.000000,2.876000e+03
Tweet_Number_of_Retweets,197801.0,24.177608,133.922451,0.000000,0.000000,0.000000,1.000000,4.367000e+03
stars,197801.0,2.169443,1.751228,1.000000,1.000000,1.000000,5.000000,5.000000e+00
stars_score,197801.0,0.474402,0.168604,0.208895,0.333114,0.442281,0.594241,9.836761e-01
Year,197801.0,2020.473243,0.499285,2020.000000,2020.000000,2020.000000,2021.000000,2.021000e+03
Month,197801.0,6.820643,5.320251,1.000000,1.000000,11.000000,12.000000,1.200000e+01
Day,197801.0,15.637737,9.182310,1.000000,8.000000,15.000000,25.000000,3.100000e+01

In [8]:
df.describe()

,user_followers,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,stars,stars_score,Year,Month,Day
count,1.978010e+05,197801.000000,197801.000000,197801.000000,197801.000000,197801.000000,197801.000000,197801.000000
mean,6.552051e+03,0.819101,24.177608,2.169443,0.474402,2020.473243,6.820643,15.637737
std,1.596200e+05,16.902767,133.922451,1.751228,0.168604,0.499285,5.320251,9.182310
min,0.000000e+00,0.000000,0.000000,1.000000,0.208895,2020.000000,1.000000,1.000000
25%,5.000000e+01,0.000000,0.000000,1.000000,0.333114,2020.000000,1.000000,8.000000
50%,1.940000e+02,0.000000,0.000000,1.000000,0.442281,2020.000000,11.000000,15.000000
75%,6.070000e+02,0.000000,1.000000,5.000000,0.594241,2021.000000,12.000000,25.000000
max,3.553762e+07,2876.000000,4367.000000,5.000000,0.983676,2021.000000,12.000000,31.000000

In [9]:
df_total

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los termi...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, proce..."
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Tenéis solo unidades para los que...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me debéis 2 m...",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el mo...,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,@vodafone_es Hace 4 meses me cambié a Vodafone...,solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, inst..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234121,2021-02-10 05:48:28,1359378681920172034,"@jazztel_es @jazztel_es hoy es 10/02/21,desde ...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/WOGpY5ZzMB,1,0.463611,2021,2,10,"[reconexion, servicio, dais]"
234122,2021-02-10 05:48:17,1359378634277068801,"@jazztel_es @jazztel_es hoy es 10/02/21,desde ...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/XwpzYegpXW,1,0.476948,2021,2,10,"[reconexion, servicio, dais]"
234123,2021-02-10 05:48:05,1359378586910806018,"@jazztel_es @jazztel_es hoy es 10/02/21,desde ...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/diJfJ6oLE3,1,0.487016,2021,2,10,"[reconexion, servicio, dais]"
234124,2021-02-10 05:47:01,1359378316436910081,"@jazztel_es hoy es 10/02/21,desde el día 29/01...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/hp45IoiZBe,1,0.456885,2021,2,10,"[reconexion, servicio, dais, quiero]"
234125,2021-02-10 02:39:20,1359331086170542087,"@jazztel_es Ya está bien, tres veces que se ca...",Jose Daniel 🔻 🟥🟨🟪,880541131,401,VECINDARIO-LAS PALMAS,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,no url,3,0.326424,2021,2,10,"[cae, internet]"

In [10]:
df

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los termi...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, proce..."
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Tenéis solo unidades para los que...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me debéis 2 m...",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el mo...,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,@vodafone_es Hace 4 meses me cambié a Vodafone...,solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, inst..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234121,2021-02-10 05:48:28,1359378681920172034,"@jazztel_es @jazztel_es hoy es 10/02/21,desde ...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/WOGpY5ZzMB,1,0.463611,2021,2,10,"[reconexion, servicio, dais]"
234122,2021-02-10 05:48:17,1359378634277068801,"@jazztel_es @jazztel_es hoy es 10/02/21,desde ...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/XwpzYegpXW,1,0.476948,2021,2,10,"[reconexion, servicio, dais]"
234123,2021-02-10 05:48:05,1359378586910806018,"@jazztel_es @jazztel_es hoy es 10/02/21,desde ...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/diJfJ6oLE3,1,0.487016,2021,2,10,"[reconexion, servicio, dais]"
234124,2021-02-10 05:47:01,1359378316436910081,"@jazztel_es hoy es 10/02/21,desde el día 29/01...",CARONTE,1244394677643722757,186,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/hp45IoiZBe,1,0.456885,2021,2,10,"[reconexion, servicio, dais, quiero]"
234125,2021-02-10 02:39:20,1359331086170542087,"@jazztel_es Ya está bien, tres veces que se ca...",Jose Daniel 🔻 🟥🟨🟪,880541131,401,VECINDARIO-LAS PALMAS,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,no url,3,0.326424,2021,2,10,"[cae, internet]"

In [14]:
today = datetime.date.today()
yest = today - datetime.timedelta(days=1)
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

today2=pd.to_datetime(today)
yest2=pd.to_datetime(yest)

In [29]:
df_total['username'].unique()

array(['@vodafone_es', '@vodafoneyu', '@yoigo', '@Amena', '@simyo_es',
       '@pepephone', '@movistar_es', '@orange_es', '@masmovil', '@o2es',
       '@Lowi_es', '@TuentiES', '@jazztel_es'], dtype=object)

In [40]:
USER_types= ['@vodafone_es','@vodafoneyu']
USER_types= ['@vodafone_es', '@vodafoneyu', '@yoigo', '@Amena', '@simyo_es',
       '@pepephone', '@movistar_es', '@orange_es', '@masmovil', '@o2es',
       '@Lowi_es', '@TuentiES', '@jazztel_es']
start_date=yest2
end_date=today2

In [92]:
df_f=df[['stars','username','created_at']]

df_f['orden'] = ''

df_f.loc[df_f['username'] == '@vodafone_es' , 'orden'] = 11
df_f.loc[df_f['username'] == '@Lowi_es' , 'orden'] = 13
df_f.loc[df_f['username'] == '@vodafoneyu' , 'orden'] = 12
df_f.loc[df_f['username'] == '@movistar_es' , 'orden'] = 4
df_f.loc[df_f['username'] == '@TuentiES' , 'orden'] = 6
df_f.loc[df_f['username'] == '@o2es' , 'orden'] = 5
df_f.loc[df_f['username'] == '@orange_es' , 'orden'] = 7
df_f.loc[df_f['username'] == '@jazztel_es' , 'orden'] = 10
df_f.loc[df_f['username'] == '@Amena' , 'orden'] = 9
df_f.loc[df_f['username'] == '@simyo_es' , 'orden'] = 8
df_f.loc[df_f['username'] == '@masmovil' , 'orden'] = 1
df_f.loc[df_f['username'] == '@pepephone' , 'orden'] = 2
df_f.loc[df_f['username'] == '@yoigo' , 'orden'] = 3

df_f['color'] = ''

df_f.loc[df_f['username'] == '@vodafone_es' , 'color'] = 11
df_f.loc[df_f['username'] == '@Lowi_es' , 'color'] = 13
df_f.loc[df_f['username'] == '@vodafoneyu' , 'color'] = 12
df_f.loc[df_f['username'] == '@movistar_es' , 'color'] = 4
df_f.loc[df_f['username'] == '@TuentiES' , 'color'] = 6
df_f.loc[df_f['username'] == '@o2es' , 'color'] = 5
df_f.loc[df_f['username'] == '@orange_es' , 'color'] = 7
df_f.loc[df_f['username'] == '@jazztel_es' , 'color'] = 10
df_f.loc[df_f['username'] == '@Amena' , 'color'] = 9
df_f.loc[df_f['username'] == '@simyo_es' , 'color'] = 8
df_f.loc[df_f['username'] == '@masmovil' , 'color'] = 1
df_f.loc[df_f['username'] == '@pepephone' , 'color'] = 2
df_f.loc[df_f['username'] == '@yoigo' , 'color'] = 'o'

df_f = df_f.loc[(df_f['created_at'] >= start_date) & (df_f['created_at'] < end_date) ,]

  


df_f =  df_f.pivot_table(index=['username','orden','color'],values=['stars']).sort_values(by='orden' ,ascending=True).reset_index()

/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [93]:







df_f

        username  orden color     stars
0      @masmovil      1     1  2.411765
1     @pepephone      2     2  2.311475
2         @yoigo      3     o  2.153846
3   @movistar_es      4     4  2.335958
4          @o2es      5     5  2.620690
5      @TuentiES      6     6  1.545455
6     @orange_es      7     7  2.179319
7      @simyo_es      8     8  2.366667
8         @Amena      9     9  2.913043
9    @jazztel_es     10    10  1.669014
10  @vodafone_es     11    11  2.347037
11   @vodafoneyu     12    12  3.086957
12      @Lowi_es     13    13  1.782609

In [94]:
df_f['color'].to_list()

[1, 2, 'o', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [90]:
colors = ['rgb(55, 83, 109)'] * 5

In [91]:
colors

['rgb(55, 83, 109)',
 'rgb(55, 83, 109)',
 'rgb(55, 83, 109)',
 'rgb(55, 83, 109)',
 'rgb(55, 83, 109)']