In [1]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import datetime

df=pd.read_parquet('../data/df.parquet')

df_total=pd.read_parquet('../data/df_total.parquet')

print(df.info(memory_usage='deep'))
print(df_total.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204192 entries, 0 to 241679
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                204192 non-null  datetime64[ns]
 1   tweet_id                  204192 non-null  object
 2   Tweet_Content             204192 non-null  object
 3   name                      204192 non-null  category
 4   user_id                   204192 non-null  category
 5   user_followers            204192 non-null  int64
 6   user_location             204192 non-null  category
 7   source                    204192 non-null  category
 8   entities                  204192 non-null  object
 9   reply_user_id             204192 non-null  category
 10  reply_status_id           204192 non-null  category
 11  Tweet_Number_of_Likes     204192 non-null  int64
 12  Tweet_Number_of_Retweets  204192 non-null  int64
 13  username                  204192 non-null  category
 14  GRUPO                     204192 non-null  category
 15  urls                      204192 non-null  object
 16  stars                     204192 non-null  int64
 17  stars_score               204192 non-null  float64
 18  Year                      204192 non-null  int64
 19  Month                     204192 non-null  int64
 20  Day                       204192 non-null  int64
 21  Tweet_Content_Token       204192 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 255.3 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 204192 entries, 0 to 241679
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                204192 non-null  datetime64[ns]
 1   tweet_id                  204192 non-null  object
 2   Tweet_Content             204192 non-null  object
 3   name                      204192 non-null  category
 4   user_id                   204192 non-null  category
 5   user_followers            204192 non-null  int64
 6   user_location             204192 non-null  category
 7   source                    204192 non-null  category
 8   entities                  204192 non-null  object
 9   reply_user_id             204192 non-null  category
 10  reply_status_id           204192 non-null  category
 11  Tweet_Number_of_Likes     204192 non-null  int64
 12  Tweet_Number_of_Retweets  204192 non-null  int64
 13  username                  204192 non-null  category
 14  GRUPO                     204192 non-null  category
 15  urls                      204192 non-null  object
 16  stars                     204192 non-null  int64
 17  stars_score               204192 non-null  float64
 18  Year                      204192 non-null  int64
 19  Month                     204192 non-null  int64
 20  Day                       204192 non-null  int64
 21  Tweet_Content_Token       204192 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 253.8 MB
None

In [ ]:
list_mean_columns_nulls=[df.describe().T.loc[f'{x}','mean']for x in df.describe().T.index]
list_mean_columns_allDataframe=[df_total.describe().T.loc[f'{x}','mean']for x in df_total.describe().T.index]
mean_subtraction=[u - v for (u, v) in zip(list_mean_columns_nulls, list_mean_columns_allDataframe)]

mean_subtraction

In [ ]:
df_total.describe().T

In [ ]:
df.describe()

In [ ]:
df_total

In [ ]:
df

In [23]:
today = datetime.date.today()
yest = today - datetime.timedelta(days=1)
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

today2=pd.to_datetime(today)
yest2=pd.to_datetime(yest)

start_date = yest2
end_date = today2

df_fil = df.loc[(df['created_at'] >= start_date) & (df['created_at'] < end_date)]

In [24]:
df_fil.shape

(1388, 22)

In [12]:
USER_types= ['@vodafone_es','@vodafoneyu']
USER_types= ['@vodafone_es', '@vodafoneyu', '@yoigo', '@Amena', '@simyo_es',
       '@pepephone', '@movistar_es', '@orange_es', '@masmovil', '@o2es',
       '@Lowi_es', '@TuentiES', '@jazztel_es']
start_date=yest2
end_date=today2

In [92]:
df_f=df[['stars','username','created_at']]

df_f['orden'] = ''

df_f.loc[df_f['username'] == '@vodafone_es' , 'orden'] = 11
df_f.loc[df_f['username'] == '@Lowi_es' , 'orden'] = 13
df_f.loc[df_f['username'] == '@vodafoneyu' , 'orden'] = 12
df_f.loc[df_f['username'] == '@movistar_es' , 'orden'] = 4
df_f.loc[df_f['username'] == '@TuentiES' , 'orden'] = 6
df_f.loc[df_f['username'] == '@o2es' , 'orden'] = 5
df_f.loc[df_f['username'] == '@orange_es' , 'orden'] = 7
df_f.loc[df_f['username'] == '@jazztel_es' , 'orden'] = 10
df_f.loc[df_f['username'] == '@Amena' , 'orden'] = 9
df_f.loc[df_f['username'] == '@simyo_es' , 'orden'] = 8
df_f.loc[df_f['username'] == '@masmovil' , 'orden'] = 1
df_f.loc[df_f['username'] == '@pepephone' , 'orden'] = 2
df_f.loc[df_f['username'] == '@yoigo' , 'orden'] = 3

df_f['color'] = ''

df_f.loc[df_f['username'] == '@vodafone_es' , 'color'] = 11
df_f.loc[df_f['username'] == '@Lowi_es' , 'color'] = 13
df_f.loc[df_f['username'] == '@vodafoneyu' , 'color'] = 12
df_f.loc[df_f['username'] == '@movistar_es' , 'color'] = 4
df_f.loc[df_f['username'] == '@TuentiES' , 'color'] = 6
df_f.loc[df_f['username'] == '@o2es' , 'color'] = 5
df_f.loc[df_f['username'] == '@orange_es' , 'color'] = 7
df_f.loc[df_f['username'] == '@jazztel_es' , 'color'] = 10
df_f.loc[df_f['username'] == '@Amena' , 'color'] = 9
df_f.loc[df_f['username'] == '@simyo_es' , 'color'] = 8
df_f.loc[df_f['username'] == '@masmovil' , 'color'] = 1
df_f.loc[df_f['username'] == '@pepephone' , 'color'] = 2
df_f.loc[df_f['username'] == '@yoigo' , 'color'] = 'o'

df_f = df_f.loc[(df_f['created_at'] >= start_date) & (df_f['created_at'] < end_date) ,]

  


df_f =  df_f.pivot_table(index=['username','orden','color'],values=['stars']).sort_values(by='orden' ,ascending=True).reset_index()

/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [93]:







df_f

        username  orden color     stars
0      @masmovil      1     1  2.411765
1     @pepephone      2     2  2.311475
2         @yoigo      3     o  2.153846
3   @movistar_es      4     4  2.335958
4          @o2es      5     5  2.620690
5      @TuentiES      6     6  1.545455
6     @orange_es      7     7  2.179319
7      @simyo_es      8     8  2.366667
8         @Amena      9     9  2.913043
9    @jazztel_es     10    10  1.669014
10  @vodafone_es     11    11  2.347037
11   @vodafoneyu     12    12  3.086957
12      @Lowi_es     13    13  1.782609

In [94]:
df_f['color'].to_list()

[1, 2, 'o', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [90]:
colors = ['rgb(55, 83, 109)'] * 5

In [91]:
colors

['rgb(55, 83, 109)',
 'rgb(55, 83, 109)',
 'rgb(55, 83, 109)',
 'rgb(55, 83, 109)',
 'rgb(55, 83, 109)']