In [5]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import datetime
import plotly.express as px
import numpy as np

df=pd.read_parquet('/home/carpiero/ir/Sentiment_Spanish_Operator/data/df.parquet')

df_total=pd.read_parquet('/home/carpiero/ir/Sentiment_Spanish_Operator/data/df_total.parquet')

df_total_remote=pd.read_parquet('/home/carpiero/ir/trash_projects/df_total.parquet')

print(df.info(memory_usage='deep'))
print(df_total.info(memory_usage='deep'))
print(df_total_remote.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265439 entries, 0 to 312885
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                265439 non-null  datetime64[ns]
 1   tweet_id                  265439 non-null  object
 2   Tweet_Content             265439 non-null  object
 3   name                      265439 non-null  category
 4   user_id                   265439 non-null  category
 5   user_followers            265439 non-null  int64
 6   user_location             265439 non-null  category
 7   source                    265439 non-null  category
 8   entities                  265439 non-null  object
 9   reply_user_id             265439 non-null  category
 10  reply_status_id           265439 non-null  category
 11  Tweet_Number_of_Likes     265439 non-null  int64
 12  Tweet_Number_of_Retweets  265439 non-null  int64
 13  username                  265439 non-null  category
 14  GRUPO                     265439 non-null  category
 15  urls                      265439 non-null  object
 16  stars                     265439 non-null  int64
 17  stars_score               265439 non-null  float64
 18  Year                      265439 non-null  int64
 19  Month                     265439 non-null  int64
 20  Day                       265439 non-null  int64
 21  Tweet_Content_Token       265439 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 326.7 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 265439 entries, 0 to 312885
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                265439 non-null  datetime64[ns]
 1   tweet_id                  265439 non-null  object
 2   Tweet_Content             265439 non-null  object
 3   name                      265439 non-null  category
 4   user_id                   265439 non-null  category
 5   user_followers            265439 non-null  int64
 6   user_location             265439 non-null  category
 7   source                    265439 non-null  category
 8   entities                  265439 non-null  object
 9   reply_user_id             265439 non-null  category
 10  reply_status_id           265439 non-null  category
 11  Tweet_Number_of_Likes     265439 non-null  int64
 12  Tweet_Number_of_Retweets  265439 non-null  int64
 13  username                  265439 non-null  category
 14  GRUPO                     265439 non-null  category
 15  urls                      265439 non-null  object
 16  stars                     265439 non-null  int64
 17  stars_score               265439 non-null  float64
 18  Year                      265439 non-null  int64
 19  Month                     265439 non-null  int64
 20  Day                       265439 non-null  int64
 21  Tweet_Content_Token       265439 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 326.7 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 266251 entries, 0 to 312885
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                266251 non-null  datetime64[ns]
 1   tweet_id                  266251 non-null  object
 2   Tweet_Content             266251 non-null  object
 3   name                      266251 non-null  category
 4   user_id                   266251 non-null  category
 5   user_followers            266251 non-null  int64
 6   user_location             266251 non-null  category
 7   source                    266251 non-null  category
 8   entities                  266251 non-null  object
 9   reply_user_id             266251 non-null  category
 10  reply_status_id           266251 non-null  category
 11  Tweet_Number_of_Likes     266251 non-null  int64
 12  Tweet_Number_of_Retweets  266251 non-null  int64
 13  username                  266251 non-null  category
 14  GRUPO                     266251 non-null  category
 15  urls                      266251 non-null  object
 16  stars                     266251 non-null  int64
 17  stars_score               266251 non-null  float64
 18  Year                      266251 non-null  int64
 19  Month                     266251 non-null  int64
 20  Day                       266251 non-null  int64
 21  Tweet_Content_Token       266251 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 325.9 MB
None

In [6]:
pd.set_option('max_colwidth', 400)

df_total.loc[df_total['Tweet_Content'].str.contains(
            'viernestopenmasmovil|redlovesgreen|sorteando|Estudiantes|cuspinera|s o r t e o|realmadrid|colorweek|taehyung|sorteo|concurso|concursazo|sorteazo|regalamos|cumplelowiconlg|laliga|concierto|cestavodafone|Movistar Liga de Campeones' ,
            case=False)]

# df_total_remote.loc[df_total_remote['Tweet_Content'].str.contains(
#             'viernestopenmasmovil|redlovesgreen|sorteamos|sorteando|Estudiantes|cuspinera|s o r t e o|realmadrid|colorweek|taehyung|sorteo|concurso|concursazo|sorteazo|regalamos|cumplelowiconlg|laliga|concierto|cestavodafone|Movistar Liga de Campeones' ,
#             case=False),['created_at','Tweet_Content','username']]

Empty DataFrame
Columns: [created_at, tweet_id, Tweet_Content, name, user_id, user_followers, user_location, source, entities, reply_user_id, reply_status_id, Tweet_Number_of_Likes, Tweet_Number_of_Retweets, username, GRUPO, urls, stars, stars_score, Year, Month, Day, Tweet_Content_Token]
Index: []

[0 rows x 22 columns]

In [3]:
list_mean_columns_nulls=[df.describe().T.loc[f'{x}','mean']for x in df.describe().T.index]
list_mean_columns_allDataframe=[df_total.describe().T.loc[f'{x}','mean']for x in df_total.describe().T.index]
mean_subtraction=[u - v for (u, v) in zip(list_mean_columns_nulls, list_mean_columns_allDataframe)]

mean_subtraction

[37.28204424310479,
 0.005210781742925885,
 0.3466881230259098,
 -0.002797210694403418,
 -0.00014046569592207625,
 -0.00575947233005536,
 0.04004585041669628,
 0.05959624126407448]

In [4]:
df_total.describe().T

,count,mean,std,min,25%,50%,75%,max
user_followers,252535.0,6272.398380,143440.682360,0.000000,49.000000,189.000000,608.000000,3.553762e+07
Tweet_Number_of_Likes,252535.0,0.784854,15.364715,0.000000,0.000000,0.000000,0.000000,2.876000e+03
Tweet_Number_of_Retweets,252535.0,26.052191,152.236806,0.000000,0.000000,0.000000,1.000000,4.367000e+03
stars,252535.0,2.221470,1.773847,1.000000,1.000000,1.000000,5.000000,5.000000e+00
stars_score,252535.0,0.475014,0.169153,0.208895,0.333997,0.441502,0.594642,9.836761e-01
Year,252535.0,2020.589245,0.491972,2020.000000,2020.000000,2021.000000,2021.000000,2.021000e+03
Month,252535.0,5.855996,5.041597,1.000000,1.000000,3.000000,12.000000,1.200000e+01
Day,252535.0,15.250294,8.938933,1.000000,8.000000,14.000000,24.000000,3.100000e+01

In [5]:
df.describe()

,user_followers,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,stars,stars_score,Year,Month,Day
count,2.490430e+05,249043.000000,249043.000000,249043.000000,249043.000000,249043.000000,249043.000000,249043.000000
mean,6.309680e+03,0.790064,26.398879,2.218673,0.474874,2020.583486,5.896042,15.309890
std,1.443880e+05,15.469934,153.265790,1.772762,0.169258,0.492982,5.065385,8.987106
min,0.000000e+00,0.000000,0.000000,1.000000,0.208895,2020.000000,1.000000,1.000000
25%,4.900000e+01,0.000000,0.000000,1.000000,0.333823,2020.000000,1.000000,8.000000
50%,1.900000e+02,0.000000,0.000000,1.000000,0.441220,2021.000000,2.000000,15.000000
75%,6.090000e+02,0.000000,1.000000,5.000000,0.594505,2021.000000,12.000000,24.000000
max,3.553762e+07,2876.000000,4367.000000,5.000000,0.983676,2021.000000,12.000000,31.000000

In [6]:
df_total

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los terminales antes de pasar por la via procesal...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': []}""",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, procesal]"
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Ten√©is solo unidades para los que los pagan mas caros?,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': []}""",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me deb√©is 2 moviles que me hab√≠ais ofrecido por una oferta de retenci√≥n, llam√© hoy‚Ä¶ https://t.co/T6RnbDdURU",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': [{'url': 'https://t.co/T6RnbDdURU', 'expanded_url': 'https://twitter.com/i/web/status/1331745644848046080', 'display_url': 'twitter.com/i/web/status/1\u2026', 'indices': [117, 140]}]}""",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el momento de irme de vodafone üò¢,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'DobbyFawkes', 'name': 'DobbyFawkes', 'id': 490711473, 'id_str': '490711473', 'indices': [0, 12]}, {'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [13, 25]}], 'urls': []}""",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,"@vodafone_es Hace 4 meses me cambi√© a Vodafone y no paro de tener cortes, no puedo ver ni los story de Instagram, l‚Ä¶ https://t.co/WJdmBBMHCZ",solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': [{'url': 'https://t.co/WJdmBBMHCZ', 'expanded_url': 'https://twitter.com/i/web/status/1331738799206969346', 'display_url': 'twitter.com/i/web/status/1\u2026', 'indices': [117, 140]}]}""",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, instagram, l]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298061,2021-03-11 08:17:46,1369925504149639172,"...Hay que tener mucha cara para que,vendi√©ndome un m√≥vil ‚Äúnuevo‚Äù,luego de 4 meses reclamando desde el min 1,preten‚Ä¶ https://t.co/ze8A7jliBc",Jose Andara Jam,92730568,66,Espa√±a,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [], ""urls"": [{""url"": ""https://t.co/ze8A7jliBc"", ""expanded_url"": ""https://twitter.com/i/web/status/1369925504149639172"", ""display_url"": ""twitter.com/i/web/status/1\u2026"", ""indices"": [117, 140]}]}",no,...,0,@jazztel_es,Orange,https://t.co/ze8A7jliBc,1,0.403992,2021,3,11,"[cara, meses, reclamando, min]"
298062,2021-03-11 07:26:12,1369912525211504640,@jazztel_es @CeSiTaR_88 Pero como que no si yo os acabo de llamar y me hab√©is dicho que ten√©is un problema en la central de Madrid???,JL,169691024,206,"Madrid, Comunidad de Madrid",Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [0, 11]}, {""screen_name"": ""CeSiTaR_88"", ""name"": ""CeSiT@R!!"", ""id"": 301144809, ""id_str"": ""301144809"", ""indices"": [12, 23]}], ""urls"": []}",330904171,...,0,@jazztel_es,Orange,no url,1,0.455272,2021,3,11,"[acabo, llamar, problema, central, madrid]"
298063,2021-03-11 01:25:21,1369821715304484866,"@jazztel_es Hay alguna incidencia masiva registrada en Madrid? Llevo media hora sin conexi√≥n, reiniciado Router y a‚Ä¶ https://t.co/vEs4gv2f1p",CeSiT@R!!,301144809,32,Spain,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [0, 11]}], ""urls"": [{""url"": ""https://t.co/vEs4gv2f1p"", ""expanded_url"": ""https://twitter.com/i/web/status/1369821715304484866"", ""display_url"": ""twitter.com/i/web/status/1\u2026"", ""indices"": [117, 140]}]}",330904171,...,0,@jazztel_es,Orange,https://t.co/vEs4gv2f1p,1,0.721794,2021,3,11,"[incidencia, masiva, registrada, madrid, llevo, media, hora, reiniciado, router, a]"
298064,2021-03-11 01:24:28,1369821493937504263,"@javiernegre10 Fantasma, si tu tlf. no lo tienen ni los cansinos de @jazztel_es , Condenas",Cristian L√≥pez üîªüåç,248180897,1582,"Cobeja, (Toledo) Spain",Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""javiernegre10"", ""name"": ""Javier Negre"", ""id"": 260016002, ""id_str"": ""260016002"", ""indices"": [0, 14]}, {""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [68, 79]}], ""urls"": []}",260016002,...,0,@jazztel_es,Orange,no url,1,0.743315,2021,3,11,"[fantasma, tlf, cansinos, condenas]"
298065,2021-03-11 00:13:49,1369803714639388681,"@Marisah03 @firufirulais13 @javiernegre10 @jazztel_es es el puto pajaro, me quita likes muchas vecs, y se caes segu‚Ä¶ https://t.co/paDgCTFVm7",Dr Jekyll y Mr Yo 2.0,840568693,976,Burgos,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""Marisah03"", ""name"": ""\ud835\udd6d\ud835\udd91\ud835\udd86\ud835\udd93\ud835\udd88\ud835\udd86\ud835\udd93\ud835\udd8e\ud835\udd8a\ud835\udd9b\ud835\udd8a\ud835\udd98"", ""id"": 1220373064720011268, ""id_str"": ""1220373064720011268"", ""indices"": [0, 10]}, {""screen_name"": ""firufirulais13"", ""name"": ""Firulais \ud83e\udd8a\ud83d\udd3b"", ""...",1220373064720011268,...,0,@jazztel_es,Orange,https://t.co/paDgCTFVm7,1,0.438309,2021,3,11,"[puto, pajaro, quita, likes, vecs, caes, segu]"

In [7]:
df

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los terminales antes de pasar por la via procesal...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': []}""",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, procesal]"
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Ten√©is solo unidades para los que los pagan mas caros?,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': []}""",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me deb√©is 2 moviles que me hab√≠ais ofrecido por una oferta de retenci√≥n, llam√© hoy‚Ä¶ https://t.co/T6RnbDdURU",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': [{'url': 'https://t.co/T6RnbDdURU', 'expanded_url': 'https://twitter.com/i/web/status/1331745644848046080', 'display_url': 'twitter.com/i/web/status/1\u2026', 'indices': [117, 140]}]}""",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el momento de irme de vodafone üò¢,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'DobbyFawkes', 'name': 'DobbyFawkes', 'id': 490711473, 'id_str': '490711473', 'indices': [0, 12]}, {'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [13, 25]}], 'urls': []}""",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,"@vodafone_es Hace 4 meses me cambi√© a Vodafone y no paro de tener cortes, no puedo ver ni los story de Instagram, l‚Ä¶ https://t.co/WJdmBBMHCZ",solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'vodafone_es', 'name': 'Vodafone Espa\u00f1a', 'id': 18939115, 'id_str': '18939115', 'indices': [0, 12]}], 'urls': [{'url': 'https://t.co/WJdmBBMHCZ', 'expanded_url': 'https://twitter.com/i/web/status/1331738799206969346', 'display_url': 'twitter.com/i/web/status/1\u2026', 'indices': [117, 140]}]}""",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, instagram, l]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293488,2021-03-10 08:15:35,1369562565479702529,"Para contratar sus servicios y cobrar , bien que te dan la brasa por tel√©fono @jazztel_es pero a la hora de reclama‚Ä¶ https://t.co/54nyctUN3X",Sindrome Amok,1599722180,99,4 paredes acolchadas,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [78, 89]}], ""urls"": [{""url"": ""https://t.co/54nyctUN3X"", ""expanded_url"": ""https://twitter.com/i/web/status/1369562565479702529"", ""display_url"": ""twitter.com/i/web/status/1\u2026"", ""indices"": [117, 140]}]}",no,...,0,@jazztel_es,Orange,https://t.co/54nyctUN3X,3,0.319320,2021,3,10,"[contratar, servicios, cobrar, brasa, a, hora, reclama]"
293489,2021-03-10 08:11:54,1369561636701343744,@jazztel_es atenci√≥n al cliente es lamentable . Echar a vuestras teleoperadoras . Hay gente sin trabajo mejor cualificada,Sindrome Amok,1599722180,99,4 paredes acolchadas,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [0, 11]}], ""urls"": []}",330904171,...,0,@jazztel_es,Orange,no url,1,0.766615,2021,3,10,"[cliente, lamentable, echar, a, teleoperadoras, gente, cualificada]"
293490,2021-03-10 07:53:04,1369556900925341698,@jazztel_es Recibo llamadas para el cobro y a la hora de reclamar me pasan a otra operadora y me cuelga ü§∑üèª‚Äç‚ôÇÔ∏è,Sindrome Amok,1599722180,99,4 paredes acolchadas,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [0, 11]}], ""urls"": []}",330904171,...,0,@jazztel_es,Orange,no url,1,0.615545,2021,3,10,"[recibo, llamadas, cobro, a, hora, reclamar, pasan, a, operadora, cuelga]"
293491,2021-03-10 07:51:20,1369556462515683331,"@jazztel_es E tenido que poner un twiter para que me atend√°is , lamentable me parece el servicio t√©cnico de @jazztel_es",Sindrome Amok,1599722180,99,4 paredes acolchadas,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [0, 11]}, {""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [108, 119]}], ""urls"": []}",330904171,...,0,@jazztel_es,Orange,no url,1,0.499140,2021,3,10,"[e, twiter, lamentable, servicio]"
293492,2021-03-10 07:47:01,1369555377533186052,"@jazztel_es timadores , se preocupan por cobrarte de m√°s pero para solucionar los problemas no est√°n #timoptico‚Ä¶ https://t.co/4WmT6RBAQk",Sindrome Amok,1599722180,99,4 paredes acolchadas,Twitter for iPhone,"{""hashtags"": [{""text"": ""timoptico"", ""indices"": [101, 111]}], ""symbols"": [], ""user_mentions"": [{""screen_name"": ""jazztel_es"", ""name"": ""Jazztel Espa\u00f1a"", ""id"": 330904171, ""id_str"": ""330904171"", ""indices"": [0, 11]}], ""urls"": [{""url"": ""https://t.co/4WmT6RBAQk"", ""expanded_url"": ""https://twitter.com/i/web/status/1369555377533186052"", ""display_url"": ""twitter.com/i/web/status/1\u2026"", ""indices"": [...",330904171,...,0,@jazztel_es,Orange,https://t.co/4WmT6RBAQk,3,0.317025,2021,3,10,"[timadores, preocupan, cobrarte, solucionar, problemas, timoptico]"

In [88]:
today = datetime.date.today()
yest = today - datetime.timedelta(days=1)
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

today2=pd.to_datetime(today)
yest2=pd.to_datetime(yest)

start_date = yest2
end_date = today2

df_fil = df.loc[(df['created_at'] >= start_date) & (df['created_at'] < end_date)]

In [74]:
df_fil.shape

(2279, 22)

In [100]:
USER_types= ['@vodafone_es','@vodafoneyu']
USER_types= ['@vodafone_es', '@yoigo', '@Amena', '@simyo_es',
       '@pepephone', '@movistar_es', '@orange_es', '@masmovil', '@o2es',
       '@Lowi_es', '@TuentiES', '@jazztel_es']
start_date=yest2
end_date=today2

In [81]:
df['username'].value_counts()

@vodafone_es    67110
@movistar_es    43452
@orange_es      27526
@yoigo          18895
@pepephone      12537
@vodafoneyu     12247
@masmovil       10800
@Lowi_es         6535
@o2es            4502
@Amena           1891
@jazztel_es      1515
@simyo_es        1480
@TuentiES         259
Name: username, dtype: int64

In [86]:
df_stars = df
# df_stars = df_stars.loc[df['username'].isin(USER_types)]
df_stars = df_stars.loc[(df_stars['username'].isin(USER_types)) & (df_stars['created_at'] >= start_date) & (df_stars['created_at'] < end_date) ,]
# df_media_total = df_stars.groupby(pd.Grouper(key='created_at' , freq='W'))[['stars']].mean().reset_index()
# df_media_total['username'] = 'Media Operadoras'
df_stars['count']=1
df_stars = df_stars.groupby(['username',pd.Grouper(key='created_at',freq='W')])[['count']].sum().reset_index()

/home/carpiero/miniconda3/envs/sentiment_env/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
df_stars

        username created_at  count
0         @Amena 2021-02-21     18
1       @Lowi_es 2021-02-21     96
2      @TuentiES 2021-02-21      7
3    @jazztel_es 2021-02-21     69
4      @masmovil 2021-02-21     69
5   @movistar_es 2021-02-21    347
6          @o2es 2021-02-21     38
7     @orange_es 2021-02-21    305
8     @pepephone 2021-02-21     71
9      @simyo_es 2021-02-21      7
10  @vodafone_es 2021-02-21    987
11   @vodafoneyu 2021-02-21    163
12        @yoigo 2021-02-21    102

In [118]:
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date )

dias = end_date - start_date

if dias < datetime.timedelta(days=31):
    rest = datetime.timedelta(days=31) - dias
    start_date = start_date - rest

df_stars = df_g_menciones


df_g_menciones['username'].value_counts()
# df_stars = df_stars.loc[(df_stars['username'].isin(USER_types)) & (df_stars['created_at'] >= start_date) & (
#         df_stars['created_at'] < end_date) ,]



# df_stars['count'] = 1





# df_stars = df_stars.groupby(['username' , pd.Grouper(key='created_at' , freq='W')])[['count']].sum().reset_index()

@vodafone_es    67110
@movistar_es    43452
@orange_es      27526
@yoigo          18895
@pepephone      12537
@masmovil       10800
@Lowi_es         6535
@o2es            4502
@Amena           1891
@jazztel_es      1515
@simyo_es        1480
@TuentiES         259
@vodafoneyu         0
Name: username, dtype: int64