In [6]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import datetime

df=pd.read_parquet('../data/df.parquet')

df_total=pd.read_parquet('../data/df_total.parquet')

print(df.info(memory_usage='deep'))
print(df_total.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195199 entries, 0 to 231498
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                195199 non-null  datetime64[ns]
 1   tweet_id                  195199 non-null  object
 2   Tweet_Content             195199 non-null  object
 3   name                      195199 non-null  category
 4   user_id                   195199 non-null  category
 5   user_followers            195199 non-null  int64
 6   user_location             195199 non-null  category
 7   source                    195199 non-null  category
 8   entities                  195199 non-null  object
 9   reply_user_id             195199 non-null  category
 10  reply_status_id           195199 non-null  category
 11  Tweet_Number_of_Likes     195199 non-null  int64
 12  Tweet_Number_of_Retweets  195199 non-null  int64
 13  username                  195199 non-null  category
 14  GRUPO                     195199 non-null  category
 15  urls                      195199 non-null  object
 16  stars                     195199 non-null  int64
 17  stars_score               195199 non-null  float64
 18  Year                      195199 non-null  int64
 19  Month                     195199 non-null  int64
 20  Day                       195199 non-null  int64
 21  Tweet_Content_Token       195199 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 244.8 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 195199 entries, 0 to 231498
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                195199 non-null  datetime64[ns]
 1   tweet_id                  195199 non-null  object
 2   Tweet_Content             195199 non-null  object
 3   name                      195199 non-null  object
 4   user_id                   195199 non-null  object
 5   user_followers            195199 non-null  int64
 6   user_location             195199 non-null  object
 7   source                    195199 non-null  object
 8   entities                  195199 non-null  object
 9   reply_user_id             195199 non-null  object
 10  reply_status_id           195199 non-null  object
 11  Tweet_Number_of_Likes     195199 non-null  int64
 12  Tweet_Number_of_Retweets  195199 non-null  int64
 13  username                  195199 non-null  object
 14  GRUPO                     195199 non-null  category
 15  urls                      195199 non-null  object
 16  stars                     195199 non-null  int64
 17  stars_score               195199 non-null  float64
 18  Year                      195199 non-null  int64
 19  Month                     195199 non-null  int64
 20  Day                       195199 non-null  int64
 21  Tweet_Content_Token       195199 non-null  object
dtypes: category(1), datetime64[ns](1), float64(1), int64(7), object(12)
memory usage: 307.7 MB
None

In [7]:
df_total.describe()

,user_followers,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,stars,stars_score,Year,Month,Day
count,1.951990e+05,195199.000000,195199.000000,195199.000000,195199.000000,195199.000000,195199.000000,195199.000000
mean,6.554021e+03,0.819446,24.070267,2.168116,0.474356,2020.466222,6.884902,15.712888
std,1.605605e+05,16.999131,134.254707,1.750660,0.168687,0.498859,5.326207,9.220055
min,0.000000e+00,0.000000,0.000000,1.000000,0.208895,2020.000000,1.000000,1.000000
25%,5.000000e+01,0.000000,0.000000,1.000000,0.332981,2020.000000,1.000000,8.000000
50%,1.940000e+02,0.000000,0.000000,1.000000,0.441673,2020.000000,11.000000,15.000000
75%,6.055000e+02,0.000000,1.000000,5.000000,0.594283,2021.000000,12.000000,25.000000
max,3.553762e+07,2876.000000,4367.000000,5.000000,0.983676,2021.000000,12.000000,31.000000

In [8]:
df.describe()

,user_followers,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,stars,stars_score,Year,Month,Day
count,1.951990e+05,195199.000000,195199.000000,195199.000000,195199.000000,195199.000000,195199.000000,195199.000000
mean,6.554021e+03,0.819446,24.070267,2.168116,0.474356,2020.466222,6.884902,15.712888
std,1.605605e+05,16.999131,134.254707,1.750660,0.168687,0.498859,5.326207,9.220055
min,0.000000e+00,0.000000,0.000000,1.000000,0.208895,2020.000000,1.000000,1.000000
25%,5.000000e+01,0.000000,0.000000,1.000000,0.332981,2020.000000,1.000000,8.000000
50%,1.940000e+02,0.000000,0.000000,1.000000,0.441673,2020.000000,11.000000,15.000000
75%,6.055000e+02,0.000000,1.000000,5.000000,0.594283,2021.000000,12.000000,25.000000
max,3.553762e+07,2876.000000,4367.000000,5.000000,0.983676,2021.000000,12.000000,31.000000

In [2]:
today = datetime.date.today()
yest = today - datetime.timedelta(days=1)
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

today2=pd.to_datetime(today)
yest2=pd.to_datetime(yest)

In [18]:
USER_types= ['@vodafone_es']
start_date=yest2
end_date=today2


df.loc[(df['created_at'] >= start_date) & (df['created_at'] < end_date)]

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
215827,2021-02-08 11:24:27,1358738460228661249,@orange_es hola necesito ayuda con la baja de...,maria alvarez,136633889,37,,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",169001667,...,0,@orange_es,Orange,no url,1,0.480250,2021,2,8,"[necesito, ayuda, baja, servicio, fijo]"
215839,2021-02-08 19:26:50,1358859855377874950,@Lowi_es Desde Huelva,Chele Medero,1337267672,513,El Granado Capital (Huelva),Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",2901001941,...,0,@Lowi_es,Vodafone,no url,5,0.249202,2021,2,8,[huelva]
220443,2021-02-08 09:48:17,1358714256712171521,RT @Pixelskaya: ¬øQu√© tienen en com√∫n los penes...,tr√≠fero,81446333,451,,Tweetbot for Mac,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",no,...,3,@vodafoneyu,Vodafone,no url,1,0.533415,2021,2,8,"[penes, limpieza, gaspar, llamazares, prohibid..."
221016,2021-02-08 14:25:36,1358784048697597952,RT @yoigo: Sentir paz cuando vemos que febrero...,Jessica Mu√±oz,791904547,447,,Twitter for Android,"{""hashtags"": [{""text"": ""ATodosNosPasa"", ""indic...",no,...,1,@yoigo,Masmovil,no url,1,0.426124,2021,2,8,"[sentir, paz, vemos, febrero, empieza, lunes, ..."
221221,2021-02-08 19:25:11,1358859437809803265,"@Lowi_es llevamos todo el d√≠a sin cobertura, ...",Chele Medero,1337267672,513,El Granado Capital (Huelva),Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",2901001941,...,0,@Lowi_es,Vodafone,no url,1,0.470890,2021,2,8,"[llevamos, cobertura, o]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227637,2021-02-08 01:21:09,1358586633914875904,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,124,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/1LJ0RbWdCD,1,0.590242,2021,2,8,"[entrar, adslzone, plataforma, afectados, jazz..."
227638,2021-02-08 01:20:44,1358586530634354689,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,124,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/1y2sSSRtAR,1,0.593155,2021,2,8,"[entrar, adslzone, plataforma, afectados, jazz..."
227639,2021-02-08 01:20:37,1358586499793584131,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,124,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/y5tPkOng61,1,0.602056,2021,2,8,"[entrar, adslzone, plataforma, afectados, jazz..."
227640,2021-02-08 01:15:23,1358585184518627328,@jazztel_es espero que cuando despierte tenga ...,M√≠riam Borde Antip√°tica,285709752,413,Depende del d√≠a,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/tN6CrJxmHF,3,0.309554,2021,2,8,"[espero, despierte, solucionado, estudiamos, n..."
227641,2021-02-08 00:41:16,1358576594936344576,"@jazztel_es se acaba de ir el WiFi, los megas ...",·ßÅÍ´ùÍ™Æùò¥ùìΩÍ™ó üëªüíû,1164870961050587136,3,,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/W18qxhrI19,5,0.228610,2021,2,8,"[acaba, wifi, megas, cobertura, a, duras, pena..."

In [20]:
value=df.loc[(df['username'].isin(USER_types)) & (df['created_at'] >= start_date) & (
                df['created_at'] < end_date) & (df['urls']!='no url')]

value=value.loc[value['Tweet_Number_of_Likes'].idxmax(), 'Tweet_Content']

value

'Por fin me he liberado de @vodafone_es No imagin√°is la tranquilidad de quitarse de encima eso de cada mes ir a mira‚Ä¶ https://t.co/LQBgxZKpic'

In [53]:
from wordcloud import WordCloud, STOPWORDS 

def generate_wordcloud(all_words):
#     twitter_mask = np.array(Image.open( '/home/carpiero/Google_Drive/IRONHACK/Twitter-Logo.png'))
    wordcloud = WordCloud(width=800, height=500, random_state=21, max_font_size=100, max_words=100,relative_scaling=0.5,colormap='Dark2').generate(all_words)


    
#     plt.imshow(wordcloud, interpolation='bilinear')
#     plt.axis("off")
#     plt.figure()
#     plt.imshow(twitter_mask, cmap=plt.cm.gray, interpolation='bilinear')
#     plt.axis("off")
#     plt.show()
    
    
    
#     plt.figure(figsize=(14, 10))
#     plt.imshow(wordcloud, interpolation="bilinear")
#     plt.axis('off')
    #plt.show()

    return wordcloud.to_image()

In [54]:
# star=5
# all_words = ' '.join([text for i in df.loc[(df['stars']==star)&(df['username']== user),'Tweet_Content_Token'] for text in i])
# all_words = ' '.join([text for i in df.loc[(df['stars']==star),'Tweet_Content_Token'] for text in i])

df_filter = df.loc[(df['username'].isin(USER_types)) & (df['created_at'] >= start_date) & (df['created_at'] < end_date)]

all_words = ' '.join([text for i in df_filter['Tweet_Content_Token'] for text in i])


wc=generate_wordcloud(all_words)

# fig=plt.figure(figsize=(14 , 10))
# fig=plt.imshow(wc, interpolation="bilinear")
# fig=plt.axis('off')
# fig=plt.show()
type(wc)

PIL.Image.Image

In [ ]:
z