In [22]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import datetime
import plotly.express as px
import numpy as np

df=pd.read_parquet('../data/df.parquet')

df_total=pd.read_parquet('../data/df_total.parquet')

print(df.info(memory_usage='deep'))
print(df_total.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204145 entries, 0 to 243602
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                204145 non-null  datetime64[ns]
 1   tweet_id                  204145 non-null  object
 2   Tweet_Content             204145 non-null  object
 3   name                      204145 non-null  category
 4   user_id                   204145 non-null  category
 5   user_followers            204145 non-null  int64
 6   user_location             204145 non-null  category
 7   source                    204145 non-null  category
 8   entities                  204145 non-null  object
 9   reply_user_id             204145 non-null  category
 10  reply_status_id           204145 non-null  category
 11  Tweet_Number_of_Likes     204145 non-null  int64
 12  Tweet_Number_of_Retweets  204145 non-null  int64
 13  username                  204145 non-null  category
 14  GRUPO                     204145 non-null  category
 15  urls                      204145 non-null  object
 16  stars                     204145 non-null  int64
 17  stars_score               204145 non-null  float64
 18  Year                      204145 non-null  int64
 19  Month                     204145 non-null  int64
 20  Day                       204145 non-null  int64
 21  Tweet_Content_Token       204145 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 255.1 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 204580 entries, 0 to 53442
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                204580 non-null  datetime64[ns]
 1   tweet_id                  204580 non-null  object
 2   Tweet_Content             204580 non-null  object
 3   name                      204580 non-null  category
 4   user_id                   204580 non-null  category
 5   user_followers            204580 non-null  int64
 6   user_location             204580 non-null  category
 7   source                    204580 non-null  category
 8   entities                  204580 non-null  object
 9   reply_user_id             204580 non-null  category
 10  reply_status_id           204580 non-null  category
 11  Tweet_Number_of_Likes     204580 non-null  int64
 12  Tweet_Number_of_Retweets  204580 non-null  int64
 13  username                  204580 non-null  category
 14  GRUPO                     204580 non-null  category
 15  urls                      204580 non-null  object
 16  stars                     204580 non-null  int64
 17  stars_score               204580 non-null  float64
 18  Year                      204580 non-null  int64
 19  Month                     204580 non-null  int64
 20  Day                       204580 non-null  int64
 21  Tweet_Content_Token       204580 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 253.9 MB
None

In [23]:
list_mean_columns_nulls=[df.describe().T.loc[f'{x}','mean']for x in df.describe().T.index]
list_mean_columns_allDataframe=[df_total.describe().T.loc[f'{x}','mean']for x in df_total.describe().T.index]
mean_subtraction=[u - v for (u, v) in zip(list_mean_columns_nulls, list_mean_columns_allDataframe)]

mean_subtraction

[13.077136349523244,
 0.001678185798370646,
 0.04809566563837464,
 -0.004091306030355568,
 0.0003236411856001875,
 -0.0010806677323671465,
 0.00989404564494123,
 0.0038970859343852027]

In [24]:
df_total.describe().T

,count,mean,std,min,25%,50%,75%,max
user_followers,204580.0,6501.668966,157841.494049,0.000000,50.000000,192.000000,604.000000,3.553762e+07
Tweet_Number_of_Likes,204580.0,0.801364,16.485557,0.000000,0.000000,0.000000,0.000000,2.876000e+03
Tweet_Number_of_Retweets,204580.0,22.575838,130.677660,0.000000,0.000000,0.000000,1.000000,4.367000e+03
stars,204580.0,2.178805,1.755338,1.000000,1.000000,1.000000,5.000000,5.000000e+00
stars_score,204580.0,0.474823,0.168841,0.208895,0.333085,0.442496,0.595641,9.836761e-01
Year,204580.0,2020.492844,0.499950,2020.000000,2020.000000,2020.000000,2021.000000,2.021000e+03
Month,204580.0,6.643264,5.297432,1.000000,1.000000,11.000000,12.000000,1.200000e+01
Day,204580.0,15.513955,9.021233,1.000000,8.000000,14.000000,25.000000,3.100000e+01

In [25]:
df.describe()

,user_followers,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,stars,stars_score,Year,Month,Day
count,2.041450e+05,204145.000000,204145.000000,204145.000000,204145.000000,204145.000000,204145.000000,204145.000000
mean,6.514746e+03,0.803042,22.623934,2.174714,0.475147,2020.491763,6.653158,15.517853
std,1.580093e+05,16.503071,130.812655,1.753281,0.168853,0.499933,5.298730,9.030375
min,0.000000e+00,0.000000,0.000000,1.000000,0.208895,2020.000000,1.000000,1.000000
25%,5.000000e+01,0.000000,0.000000,1.000000,0.333431,2020.000000,1.000000,8.000000
50%,1.920000e+02,0.000000,0.000000,1.000000,0.443163,2020.000000,11.000000,14.000000
75%,6.040000e+02,0.000000,1.000000,5.000000,0.596090,2021.000000,12.000000,25.000000
max,3.553762e+07,2876.000000,4367.000000,5.000000,0.983676,2021.000000,12.000000,31.000000

In [26]:
df_total

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los termi...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, proce..."
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Tenéis solo unidades para los que...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me debéis 2 m...",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el mo...,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,@vodafone_es Hace 4 meses me cambié a Vodafone...,solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, inst..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53438,2021-02-15 08:09:35,1361226134470479872,@gerardoparrajc @Arzooito @jazztel_es @dbravo ...,FACUA,8077212,265854,688 954 954,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",712749937,...,0,@jazztel_es,Orange,https://t.co/e7N4SCRSWo,1,0.511424,2021,2,15,"[pon, formal, operadora]"
53439,2021-02-15 08:09:29,1361226108109271040,@gerardoparrajc @jazztel_es @facua @dbravo @pc...,Alejandro Sanchez,132780435,117,Almería,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",712749937,...,0,@jazztel_es,Orange,no url,3,0.264507,2021,2,15,"[dudo, puedan]"
53440,2021-02-15 07:31:29,1361216546488655880,@Arzooito @jazztel_es @facua @dbravo No. Lo co...,Gerardo Parra @ confitado en casa,712749937,210,Almería,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",132780435,...,0,@jazztel_es,Orange,no url,1,0.682623,2021,2,15,[libre]
53441,2021-02-15 07:30:14,1361216231798431744,@gerardoparrajc @jazztel_es @facua @dbravo El ...,Alejandro Sanchez,132780435,117,Almería,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",712749937,...,0,@jazztel_es,Orange,no url,1,0.360404,2021,2,15,"[obtuviste, jazztel]"
53442,2021-02-15 07:22:05,1361214179290583041,@jazztel_es @facua @dbravo Enciendo mi móvil e...,Gerardo Parra @ confitado en casa,712749937,210,Almería,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",712749937,...,0,@jazztel_es,Orange,https://t.co/vw5G4zyne5,5,0.411994,2021,2,15,"[enciendo, encuentro, apps, instaladas]"

In [27]:
df

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2021-01-26 12:29:48,1354043862961025025,@vodafone_es AQUI ESTA NECESITO UNO 🙏🏻🙏🏻 #Gala...,JR,933453304633360384,19,"Madrid, España",Twitter for Android,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.321878,2021,1,26,"[necesito, g]"
4,2021-01-26 12:29:39,1354043823987556353,Muy agradecido al servicio de @vodafone_es por...,JOSÉ MARÍA,705104539150585859,13,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",705104539150585859,...,0,@vodafone_es,Vodafone,https://t.co/BqFZHg26EU,5,0.743021,2021,1,26,"[agradecido, servicio, comprometido, soluciona..."
6,2021-01-26 12:29:29,1354043784443666434,@vodafone_es Venga va que tengo que empezar bi...,Gonzalo Sanchez,231548788,73,"Valladolid, España",Twitter for iPhone,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,3,0.277582,2021,1,26,"[venga, empezar]"
8,2021-01-26 12:29:11,1354043707339771904,@Charly_cbr_72 @JVillar75 @vodafone_es denunci...,Mari Huertas,588607968,98,,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",3115519343,...,0,@vodafone_es,Vodafone,no url,1,0.482190,2021,1,26,"[denuncialo, consumo, telecomunicaciones, arbi..."
11,2021-01-26 12:28:41,1354043581678440450,"@vodafone_es El problema no es de acceso,es qu...",kiriko,623256969,32,de aquí pa ya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.687920,2021,1,26,"[problema, acceso, carga, ordenador, acceder]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243597,2021-01-26 12:30:12,1354043964555407361,@vodafone_es Ya hice retweet,raultrysw,2586092558,29,,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.591398,2021,1,26,"[hice, retweet]"
243598,2021-01-26 12:30:03,1354043926655729665,@vodafone_es https://t.co/pGIlyj7H2a,🅹🅾🅷🅽 🆂🅼🅸🆃🅷 😷,709363814819631104,5077,Raticulín,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",18939115,...,0,@vodafone_es,Vodafone,no url,5,0.314494,2021,1,26,[]
243599,2021-01-26 12:29:58,1354043905826762752,@vodafone_es #GalaxyS21UltraEnVodafone venha v...,le javieh,996162728921325568,20,"Rincón de la Victoria, España",Twitter for Android,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,5,0.351013,2021,1,26,[venha]
243600,2021-01-26 12:29:50,1354043869919375368,@vodafone_es #GalaxyS21UltraEnVodafone https:/...,☆Latana Home☆,428283837,740,España,Twitter for Android,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,5,0.348291,2021,1,26,[]
243602,2021-01-26 14:14:28,1354070203328581636,@vodafoneyu @enjutomojamuto 🖕,DAVID,140137427,276,"Aguilas, SPAIN",Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",808721557,...,0,@vodafoneyu,Vodafone,no url,5,0.389050,2021,1,26,[]

In [28]:
today = datetime.date.today()
yest = today - datetime.timedelta(days=1)
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

today2=pd.to_datetime(today)
yest2=pd.to_datetime(yest)

start_date = yest2
end_date = today2

df_fil = df.loc[(df['created_at'] >= start_date) & (df['created_at'] < end_date)]

In [29]:
df_fil.shape

(1729, 22)

In [30]:
USER_types= ['@vodafone_es','@vodafoneyu']
USER_types= ['@vodafone_es', '@vodafoneyu', '@yoigo', '@Amena', '@simyo_es',
       '@pepephone', '@movistar_es', '@orange_es', '@masmovil', '@o2es',
       '@Lowi_es', '@TuentiES', '@jazztel_es']
start_date=yest2
end_date=today2

In [31]:
df['username'].value_counts()

@vodafone_es    65563
@movistar_es    42718
@orange_es      26848
@yoigo          18606
@pepephone      12374
@vodafoneyu     11778
@masmovil       10657
@Lowi_es         6322
@o2es            4443
@Amena           1843
@simyo_es        1434
@jazztel_es      1315
@TuentiES         244
Name: username, dtype: int64

In [32]:
# df = df.loc[df['username']!='@vodafoneyu']

In [33]:
df

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2021-01-26 12:29:48,1354043862961025025,@vodafone_es AQUI ESTA NECESITO UNO 🙏🏻🙏🏻 #Gala...,JR,933453304633360384,19,"Madrid, España",Twitter for Android,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.321878,2021,1,26,"[necesito, g]"
4,2021-01-26 12:29:39,1354043823987556353,Muy agradecido al servicio de @vodafone_es por...,JOSÉ MARÍA,705104539150585859,13,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",705104539150585859,...,0,@vodafone_es,Vodafone,https://t.co/BqFZHg26EU,5,0.743021,2021,1,26,"[agradecido, servicio, comprometido, soluciona..."
6,2021-01-26 12:29:29,1354043784443666434,@vodafone_es Venga va que tengo que empezar bi...,Gonzalo Sanchez,231548788,73,"Valladolid, España",Twitter for iPhone,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,3,0.277582,2021,1,26,"[venga, empezar]"
8,2021-01-26 12:29:11,1354043707339771904,@Charly_cbr_72 @JVillar75 @vodafone_es denunci...,Mari Huertas,588607968,98,,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",3115519343,...,0,@vodafone_es,Vodafone,no url,1,0.482190,2021,1,26,"[denuncialo, consumo, telecomunicaciones, arbi..."
11,2021-01-26 12:28:41,1354043581678440450,"@vodafone_es El problema no es de acceso,es qu...",kiriko,623256969,32,de aquí pa ya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.687920,2021,1,26,"[problema, acceso, carga, ordenador, acceder]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243597,2021-01-26 12:30:12,1354043964555407361,@vodafone_es Ya hice retweet,raultrysw,2586092558,29,,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.591398,2021,1,26,"[hice, retweet]"
243598,2021-01-26 12:30:03,1354043926655729665,@vodafone_es https://t.co/pGIlyj7H2a,🅹🅾🅷🅽 🆂🅼🅸🆃🅷 😷,709363814819631104,5077,Raticulín,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",18939115,...,0,@vodafone_es,Vodafone,no url,5,0.314494,2021,1,26,[]
243599,2021-01-26 12:29:58,1354043905826762752,@vodafone_es #GalaxyS21UltraEnVodafone venha v...,le javieh,996162728921325568,20,"Rincón de la Victoria, España",Twitter for Android,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,5,0.351013,2021,1,26,[venha]
243600,2021-01-26 12:29:50,1354043869919375368,@vodafone_es #GalaxyS21UltraEnVodafone https:/...,☆Latana Home☆,428283837,740,España,Twitter for Android,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,5,0.348291,2021,1,26,[]
243602,2021-01-26 14:14:28,1354070203328581636,@vodafoneyu @enjutomojamuto 🖕,DAVID,140137427,276,"Aguilas, SPAIN",Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",808721557,...,0,@vodafoneyu,Vodafone,no url,5,0.389050,2021,1,26,[]

In [34]:
df_stars= df
# df_stars = df_stars.loc[(df['username'].isin(USER_types)) &(df_stars['created_at'] >= start_date) & ( df_stars['created_at'] < end_date) ,]
df_stars =  df_stars.pivot_table(index=['username'],values=['stars'] ,aggfunc=[np.mean,len]).reset_index()
# df_stars['stars'] = round(df_stars['stars'],2 )

df_stars

        username      mean    len
                     stars  stars
0         @Amena  2.293001   1843
1       @Lowi_es  2.254824   6322
2      @TuentiES  1.704918    244
3    @jazztel_es  1.882129   1315
4      @masmovil  2.116074  10657
5   @movistar_es  2.085491  42718
6          @o2es  1.857529   4443
7     @orange_es  2.085183  26848
8     @pepephone  2.082997  12374
9      @simyo_es  2.227336   1434
10  @vodafone_es  2.179934  65563
11   @vodafoneyu  2.777976  11778
12        @yoigo  2.262657  18606

In [35]:
df['count']=1
df.columns

Index(['created_at', 'tweet_id', 'Tweet_Content', 'name', 'user_id',
       'user_followers', 'user_location', 'source', 'entities',
       'reply_user_id', 'reply_status_id', 'Tweet_Number_of_Likes',
       'Tweet_Number_of_Retweets', 'username', 'GRUPO', 'urls', 'stars',
       'stars_score', 'Year', 'Month', 'Day', 'Tweet_Content_Token', 'count'],
      dtype='object')

In [36]:
dff=df['source'].value_counts().rename_axis('unique_values').reset_index(name='counts').head(6)
dff['percent']=dff['counts']/dff['counts'].sum()

In [37]:
dff

         unique_values  counts   percent
0  Twitter for Android  101251  0.503541
1   Twitter for iPhone   44627  0.221939
2      Twitter Web App   43459  0.216130
3              Fenix 2    8447  0.042009
4     Twitter for iPad    2190  0.010891
5            TweetDeck    1104  0.005490

In [38]:
dff.style.format({'percent': '{:,.1%}'.format})