In [1]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import datetime
import plotly.express as px
import numpy as np

df=pd.read_parquet('../data/df.parquet')

df_total=pd.read_parquet('../data/df_total.parquet')

print(df.info(memory_usage='deep'))
print(df_total.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206470 entries, 0 to 246014
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                206470 non-null  datetime64[ns]
 1   tweet_id                  206470 non-null  object
 2   Tweet_Content             206470 non-null  object
 3   name                      206470 non-null  category
 4   user_id                   206470 non-null  category
 5   user_followers            206470 non-null  int64
 6   user_location             206470 non-null  category
 7   source                    206470 non-null  category
 8   entities                  206470 non-null  object
 9   reply_user_id             206470 non-null  category
 10  reply_status_id           206470 non-null  category
 11  Tweet_Number_of_Likes     206470 non-null  int64
 12  Tweet_Number_of_Retweets  206470 non-null  int64
 13  username                  206470 non-null  category
 14  GRUPO                     206470 non-null  category
 15  urls                      206470 non-null  object
 16  stars                     206470 non-null  int64
 17  stars_score               206470 non-null  float64
 18  Year                      206470 non-null  int64
 19  Month                     206470 non-null  int64
 20  Day                       206470 non-null  int64
 21  Tweet_Content_Token       206470 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 257.8 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 206470 entries, 0 to 246014
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                206470 non-null  datetime64[ns]
 1   tweet_id                  206470 non-null  object
 2   Tweet_Content             206470 non-null  object
 3   name                      206470 non-null  category
 4   user_id                   206470 non-null  category
 5   user_followers            206470 non-null  int64
 6   user_location             206470 non-null  category
 7   source                    206470 non-null  category
 8   entities                  206470 non-null  object
 9   reply_user_id             206470 non-null  category
 10  reply_status_id           206470 non-null  category
 11  Tweet_Number_of_Likes     206470 non-null  int64
 12  Tweet_Number_of_Retweets  206470 non-null  int64
 13  username                  206470 non-null  category
 14  GRUPO                     206470 non-null  category
 15  urls                      206470 non-null  object
 16  stars                     206470 non-null  int64
 17  stars_score               206470 non-null  float64
 18  Year                      206470 non-null  int64
 19  Month                     206470 non-null  int64
 20  Day                       206470 non-null  int64
 21  Tweet_Content_Token       206470 non-null  object
dtypes: category(8), datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 256.2 MB
None

In [2]:
list_mean_columns_nulls=[df.describe().T.loc[f'{x}','mean']for x in df.describe().T.index]
list_mean_columns_allDataframe=[df_total.describe().T.loc[f'{x}','mean']for x in df_total.describe().T.index]
mean_subtraction=[u - v for (u, v) in zip(list_mean_columns_nulls, list_mean_columns_allDataframe)]

mean_subtraction

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [3]:
df_total.describe().T

,count,mean,std,min,25%,50%,75%,max
user_followers,206470.0,6490.030227,157149.610148,0.000000,50.000000,192.00000,605.000000,3.553762e+07
Tweet_Number_of_Likes,206470.0,0.800925,16.413066,0.000000,0.000000,0.00000,0.000000,2.876000e+03
Tweet_Number_of_Retweets,206470.0,22.446108,130.108096,0.000000,0.000000,0.00000,1.000000,4.367000e+03
stars,206470.0,2.173846,1.752902,1.000000,1.000000,1.00000,5.000000,5.000000e+00
stars_score,206470.0,0.475114,0.168816,0.208895,0.333407,0.44319,0.596058,9.836761e-01
Year,206470.0,2020.497486,0.499995,2020.000000,2020.000000,2020.00000,2021.000000,2.021000e+03
Month,206470.0,6.600760,5.291640,1.000000,1.000000,11.00000,12.000000,1.200000e+01
Day,206470.0,15.523282,8.979530,1.000000,8.000000,15.00000,25.000000,3.100000e+01

In [4]:
df.describe()

,user_followers,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,stars,stars_score,Year,Month,Day
count,2.064700e+05,206470.000000,206470.000000,206470.000000,206470.000000,206470.000000,206470.00000,206470.000000
mean,6.490030e+03,0.800925,22.446108,2.173846,0.475114,2020.497486,6.60076,15.523282
std,1.571496e+05,16.413066,130.108096,1.752902,0.168816,0.499995,5.29164,8.979530
min,0.000000e+00,0.000000,0.000000,1.000000,0.208895,2020.000000,1.00000,1.000000
25%,5.000000e+01,0.000000,0.000000,1.000000,0.333407,2020.000000,1.00000,8.000000
50%,1.920000e+02,0.000000,0.000000,1.000000,0.443190,2020.000000,11.00000,15.000000
75%,6.050000e+02,0.000000,1.000000,5.000000,0.596058,2021.000000,12.00000,25.000000
max,3.553762e+07,2876.000000,4367.000000,5.000000,0.983676,2021.000000,12.00000,31.000000

In [5]:
df_total

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2021-01-26 12:29:48,1354043862961025025,@vodafone_es AQUI ESTA NECESITO UNO üôèüèªüôèüèª #Gala...,JR,933453304633360384,19,"Madrid, Espa√±a",Twitter for Android,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.321878,2021,1,26,"[necesito, g]"
4,2021-01-26 12:29:39,1354043823987556353,Muy agradecido al servicio de @vodafone_es por...,JOS√â MAR√çA,705104539150585859,13,,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",705104539150585859,...,0,@vodafone_es,Vodafone,https://t.co/BqFZHg26EU,5,0.743021,2021,1,26,"[agradecido, servicio, comprometido, soluciona..."
6,2021-01-26 12:29:29,1354043784443666434,@vodafone_es Venga va que tengo que empezar bi...,Gonzalo Sanchez,231548788,73,"Valladolid, Espa√±a",Twitter for iPhone,"{""hashtags"": [{""text"": ""GalaxyS21UltraEnVodafo...",18939115,...,0,@vodafone_es,Vodafone,no url,3,0.277582,2021,1,26,"[venga, empezar]"
8,2021-01-26 12:29:11,1354043707339771904,@Charly_cbr_72 @JVillar75 @vodafone_es denunci...,Mari Huertas,588607968,98,,Twitter Web App,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",3115519343,...,0,@vodafone_es,Vodafone,no url,1,0.482190,2021,1,26,"[denuncialo, consumo, telecomunicaciones, arbi..."
11,2021-01-26 12:28:41,1354043581678440450,"@vodafone_es El problema no es de acceso,es qu...",kiriko,623256969,32,de aqu√≠ pa ya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",18939115,...,0,@vodafone_es,Vodafone,no url,1,0.687920,2021,1,26,"[problema, acceso, carga, ordenador, acceder]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246010,2021-02-16 07:28:34,1361578201491927041,RT @MiEstrellaDeMar: A√ëOS DE ACOSO x TEL√âFONO/...,Jordi Pascual,36195633,637,Mollet del Valles,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",no,...,2,@jazztel_es,Orange,no url,1,0.675040,2021,2,16,"[acoso, x, email, baja, x, x, md]"
246011,2021-02-16 00:38:00,1361474879682469891,A la cama que @jazztel_es me da ma√±ana m√≥vil n...,ùôÖùôäùôéùôÄ #AnnounceHeurtel,1261988753578606594,438,,Twitter for Android,"{""hashtags"": [{""text"": ""eonoe"", ""indices"": [51...",no,...,0,@jazztel_es,Orange,no url,5,0.362655,2021,2,16,"[a, cama, eonoe]"
246012,2021-02-16 00:35:26,1361474231524032512,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,127,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/PxfHFV6wDc,1,0.589802,2021,2,16,"[entrar, adslzone, plataforma, afectados, jazz..."
246013,2021-02-16 00:35:17,1361474195901845505,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,127,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/bBDhuGYn9g,1,0.601599,2021,2,16,"[entrar, adslzone, plataforma, afectados, jazz..."
246014,2021-02-16 00:35:10,1361474166164254720,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,127,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/OW44i70Zy0,1,0.593767,2021,2,16,"[entrar, adslzone, plataforma, afectados, jazz..."

In [6]:
df

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,...,Tweet_Number_of_Retweets,username,GRUPO,urls,stars,stars_score,Year,Month,Day,Tweet_Content_Token
0,2020-11-25 23:45:45,1331745922720673793,@vodafone_es Espero que se me envien los termi...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.403197,2020,11,25,"[espero, envien, terminales, pasar, via, proce..."
1,2020-11-25 23:44:56,1331745719603097601,@vodafone_es Ten√©is solo unidades para los que...,Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",880183399356542977,...,0,@vodafone_es,Vodafone,no url,1,0.445512,2020,11,25,"[unidades, pagan, caros]"
2,2020-11-25 23:44:39,1331745644848046080,"@vodafone_es Hola Vodafone, aun me deb√©is 2 m...",Diejeitor,880183399356542977,1,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/T6RnbDdURU,1,0.328059,2020,11,25,"[vodafone, moviles, ofrecido, oferta]"
3,2020-11-25 23:18:47,1331739136802361345,@DobbyFawkes @vodafone_es Yo tampoco veo el mo...,Gata Presumida,2822873697,275,,Twitter Web App,"""{'hashtags': [], 'symbols': [], 'user_mention...",490711473,...,0,@vodafone_es,Vodafone,no url,1,0.444034,2020,11,25,"[veo, irme, vodafone]"
4,2020-11-25 23:17:26,1331738799206969346,@vodafone_es Hace 4 meses me cambi√© a Vodafone...,solis jimenez carmen,975955338469040128,4,,Twitter for Android,"""{'hashtags': [], 'symbols': [], 'user_mention...",18939115,...,0,@vodafone_es,Vodafone,https://t.co/WJdmBBMHCZ,1,0.505059,2020,11,25,"[meses, a, vodafone, paro, cortes, story, inst..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246010,2021-02-16 07:28:34,1361578201491927041,RT @MiEstrellaDeMar: A√ëOS DE ACOSO x TEL√âFONO/...,Jordi Pascual,36195633,637,Mollet del Valles,Twitter for iPhone,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",no,...,2,@jazztel_es,Orange,no url,1,0.675040,2021,2,16,"[acoso, x, email, baja, x, x, md]"
246011,2021-02-16 00:38:00,1361474879682469891,A la cama que @jazztel_es me da ma√±ana m√≥vil n...,ùôÖùôäùôéùôÄ #AnnounceHeurtel,1261988753578606594,438,,Twitter for Android,"{""hashtags"": [{""text"": ""eonoe"", ""indices"": [51...",no,...,0,@jazztel_es,Orange,no url,5,0.362655,2021,2,16,"[a, cama, eonoe]"
246012,2021-02-16 00:35:26,1361474231524032512,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,127,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/PxfHFV6wDc,1,0.589802,2021,2,16,"[entrar, adslzone, plataforma, afectados, jazz..."
246013,2021-02-16 00:35:17,1361474195901845505,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,127,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/bBDhuGYn9g,1,0.601599,2021,2,16,"[entrar, adslzone, plataforma, afectados, jazz..."
246014,2021-02-16 00:35:10,1361474166164254720,@jazztel_es Entrar en ADSLZONE. Alli esta la p...,JAZZTELENGA√ëA,916414922979991552,127,Republica de Catalunya,Twitter for Android,"{""hashtags"": [], ""symbols"": [], ""user_mentions...",330904171,...,0,@jazztel_es,Orange,https://t.co/OW44i70Zy0,1,0.593767,2021,2,16,"[entrar, adslzone, plataforma, afectados, jazz..."

In [7]:
today = datetime.date.today()
yest = today - datetime.timedelta(days=1)
first = today.replace(day=1)
lastMonth = first - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

today2=pd.to_datetime(today)
yest2=pd.to_datetime(yest)

start_date = yest2
end_date = today2

df_fil = df.loc[(df['created_at'] >= start_date) & (df['created_at'] < end_date)]

In [8]:
df_fil.shape

(2325, 22)

In [9]:
USER_types= ['@vodafone_es','@vodafoneyu']
USER_types= ['@vodafone_es', '@vodafoneyu', '@yoigo', '@Amena', '@simyo_es',
       '@pepephone', '@movistar_es', '@orange_es', '@masmovil', '@o2es',
       '@Lowi_es', '@TuentiES', '@jazztel_es']
start_date=yest2
end_date=today2

In [28]:
end_date

Timestamp('2021-02-17 00:00:00')

In [27]:
start_date

Timestamp('2021-02-16 00:00:00')

In [25]:
df_stars = df
# df_stars = df_stars.loc[df['username'].isin(USER_types)]
df_stars = df_stars.loc[(df['username'].isin(USER_types)) & (df_stars['created_at'] >= start_date) & (
        df_stars['created_at'] < end_date) ,]
df_media_total = df_stars.groupby(pd.Grouper(key='created_at' , freq='W'))[['stars']].mean().reset_index()
df_media_total['username'] = 'Media Operadoras'
df_stars = df_stars.groupby(['username',pd.Grouper(key='created_at',freq='W')])[['stars']].mean().reset_index()
df_stars =df_stars.append(df_media_total)

df_stars['stars'] = round(df_stars['stars'] , 2)

In [26]:
df_stars

            username created_at  stars
0             @Amena 2021-02-21   2.77
1           @Lowi_es 2021-02-21   1.74
2          @TuentiES 2021-02-21   2.12
3        @jazztel_es 2021-02-21   2.02
4          @masmovil 2021-02-21   1.76
5       @movistar_es 2021-02-21   1.78
6              @o2es 2021-02-21   2.14
7         @orange_es 2021-02-21   2.11
8         @pepephone 2021-02-21   1.92
9          @simyo_es 2021-02-21   2.15
10      @vodafone_es 2021-02-21   1.95
11       @vodafoneyu 2021-02-21   3.32
12            @yoigo 2021-02-21   1.53
0   Media Operadoras 2021-02-21   2.10