In [1]:
import matplotlib.pyplot as plt
from os import path
from PIL import Image
import seaborn as sns
import numpy as np
import plotly.express as px
plt.style.use('seaborn')
%matplotlib inline
import re
# import tweepy
import pandas as pd
import datetime 
from sqlalchemy import create_engine
# from sshtunnel import SSHTunnelForwarder
import configparser
import psycopg2
cfg = configparser.RawConfigParser()
cfg.read('/home/carpiero/ir/pass_projects/pass.ini')

['/home/carpiero/ir/pass_projects/pass.ini']

In [2]:
user=cfg['ssh']['username']
passw=cfg['ssh']['password']

# engine = create_engine(f'postgresql://{user}:{passw}@asuscar.duckdns.org/carpiero', echo=True)

engine = create_engine(f'postgresql://{user}:{passw}@192.168.1.170/carpiero', echo=True)

In [3]:

# df_postgresql = pd.read_sql_query("SELECT * FROM twitter_operators", engine, coerce_float=True, parse_dates=['created_at'])


df = pd.read_sql_query("SELECT * FROM twitter_operators_sent", engine, coerce_float=True, parse_dates=['created_at'])



df.info(memory_usage='deep')

2021-02-03 17:57:39,812 INFO sqlalchemy.engine.base.Engine select version()
2021-02-03 17:57:39,814 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 17:57:39,850 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-02-03 17:57:39,852 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 17:57:39,907 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-03 17:57:39,909 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 17:57:39,922 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-03 17:57:39,923 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 17:57:39,951 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-02-03 17:57:39,952 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 17:57:39,984 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM twitter_operators_sent
2021-02-03 17:57:39,985 INFO sqlalchemy.engine.base.OptionEngine {}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215459 entries, 0 to 215458
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                215459 non-null  datetime64[ns]
 1   tweet_id                  215459 non-null  object
 2   Tweet_Content             215459 non-null  object
 3   name                      215459 non-null  object
 4   user_id                   215459 non-null  object
 5   user_followers            215459 non-null  int64
 6   user_location             215459 non-null  object
 7   source                    215459 non-null  object
 8   entities                  215459 non-null  object
 9   reply_user_id             215459 non-null  object
 10  reply_status_id           215459 non-null  object
 11  Tweet_Number_of_Likes     215459 non-null  int64
 12  Tweet_Number_of_Retweets  215459 non-null  int64
 13  username                  215459 non-null  object
 14  GRUPO                     215459 non-null  object
 15  urls                      215459 non-null  object
 16  stars                     215459 non-null  int64
 17  stars_score               215459 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(12)
memory usage: 324.7 MB

In [7]:
print(len(df['username'].value_counts()))

df['username'].value_counts()

15

@vodafone_es    73137
@movistar_es    42927
@orange_es      24481
@yoigo          22154
@vodafoneyu     13674
@pepephone      11274
@masmovil       10861
@lowi_es         9636
@o2es            3967
@Amena           1671
@simyo_es        1216
@TuentiES         192
@jazztel          123
@jazztel_es        88
@Lowi_es           58
Name: username, dtype: int64

In [8]:
df.loc[df['username'] == '@lowi_es' , 'username'] = '@Lowi_es'
df.loc[df['username'] == '@jazztel' , 'username'] = '@jazztel_es'

In [9]:
print(len(df['username'].value_counts()))

df['username'].value_counts()

13

@vodafone_es    73137
@movistar_es    42927
@orange_es      24481
@yoigo          22154
@vodafoneyu     13674
@pepephone      11274
@masmovil       10861
@Lowi_es         9694
@o2es            3967
@Amena           1671
@simyo_es        1216
@jazztel_es       211
@TuentiES         192
Name: username, dtype: int64

In [10]:

postgresql_connection = engine.connect()

postgresql_table = "twitter_operators_sent_02"
df.to_sql(postgresql_table, postgresql_connection, if_exists='append',index=False,
           # dtype={'tweet_id': sqlalchemy.types.VARCHAR(length=255),'user_id': sqlalchemy.types.VARCHAR(length=255)}
                       )

2021-02-03 18:14:16,299 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-02-03 18:14:16,300 INFO sqlalchemy.engine.base.Engine {'name': 'twitter_operators_sent_02'}
2021-02-03 18:14:17,069 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 18:14:27,039 INFO sqlalchemy.engine.base.Engine INSERT INTO twitter_operators_sent_02 (created_at, tweet_id, "Tweet_Content", name, user_id, user_followers, user_location, source, entities, reply_user_id, reply_status_id, "Tweet_Number_of_Likes", "Tweet_Number_of_Retweets", username, "GRUPO", urls, stars, stars_score) VALUES (%(created_at)s, %(tweet_id)s, %(Tweet_Content)s, %(name)s, %(user_id)s, %(user_followers)s, %(user_location)s, %(source)s, %(entities)s, %(reply_user_id)s, %(reply_status_id)s, %(Tweet_Number_of_Likes)s, %(Tweet_Number_of_Retweets)s, %(username)s, %(GRUPO)s, %(urls)s, %(stars)s, %(stars_score)s)
2021-02-03 18:14:27,040 INFO sqlalchemy.engine.base.Engine ({'created_at': datetime.datetime(2020, 11, 25, 23, 45, 45), 'tweet_id': '1331745922720673793', 'Tweet_Content': '@vodafone_es Espero que se me envien los terminales antes de pasar por la via procesal...', 'name': 'Diejeitor', 'user_id': '880183399356542977', 'user_followers': 1, 'user_location': '', 'source': 'Twitter Web App', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \'id_str\': \'18939115\', \'indices\': [0, 12]}], \'urls\': []}"', 'reply_user_id': '880183399356542977', 'reply_status_id': '1331745644848046080', 'Tweet_Number_of_Likes': 1, 'Tweet_Number_of_Retweets': 0, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'no url', 'stars': 1, 'stars_score': 0.40319666}, {'created_at': datetime.datetime(2020, 11, 25, 23, 44, 56), 'tweet_id': '1331745719603097601', 'Tweet_Content': '@vodafone_es Ten√©is solo unidades para los que los pagan mas caros?', 'name': 'Diejeitor', 'user_id': '880183399356542977', 'user_followers': 1, 'user_location': '', 'source': 'Twitter Web App', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \'id_str\': \'18939115\', \'indices\': [0, 12]}], \'urls\': []}"', 'reply_user_id': '880183399356542977', 'reply_status_id': '1331745644848046080', 'Tweet_Number_of_Likes': 1, 'Tweet_Number_of_Retweets': 0, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'no url', 'stars': 1, 'stars_score': 0.44551167}, {'created_at': datetime.datetime(2020, 11, 25, 23, 44, 39), 'tweet_id': '1331745644848046080', 'Tweet_Content': '@vodafone_es  Hola Vodafone, aun me deb√©is 2 moviles que me hab√≠ais ofrecido por una oferta de retenci√≥n, llam√© hoy‚Ä¶ https://t.co/T6RnbDdURU', 'name': 'Diejeitor', 'user_id': '880183399356542977', 'user_followers': 1, 'user_location': '', 'source': 'Twitter Web App', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \' ... (108 characters truncated) ... _url\': \'https://twitter.com/i/web/status/1331745644848046080\', \'display_url\': \'twitter.com/i/web/status/1\\u2026\', \'indices\': [117, 140]}]}"', 'reply_user_id': '18939115', 'reply_status_id': 'no', 'Tweet_Number_of_Likes': 1, 'Tweet_Number_of_Retweets': 0, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'https://t.co/T6RnbDdURU', 'stars': 1, 'stars_score': 0.32805932}, {'created_at': datetime.datetime(2020, 11, 25, 23, 18, 47), 'tweet_id': '1331739136802361345', 'Tweet_Content': '@DobbyFawkes @vodafone_es Yo tampoco veo el momento de irme de vodafone üò¢', 'name': 'Gata Presumida', 'user_id': '2822873697', 'user_followers': 275, 'user_location': '', 'source': 'Twitter Web App', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'DobbyFawkes\', \'name\': \'DobbyFawkes\', \'id\': 490711473, \'id_str\': ... (45 characters truncated) ... een_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \'id_str\': \'18939115\', \'indices\': [13, 25]}], \'urls\': []}"', 'reply_user_id': '490711473', 'reply_status_id': '1331716565402783748', 'Tweet_Number_of_Likes': 2, 'Tweet_Number_of_Retweets': 0, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'no url', 'stars': 1, 'stars_score': 0.4440344}, {'created_at': datetime.datetime(2020, 11, 25, 23, 17, 26), 'tweet_id': '1331738799206969346', 'Tweet_Content': '@vodafone_es Hace 4 meses me cambi√© a Vodafone y no paro de tener cortes, no puedo ver ni los story de Instagram, l‚Ä¶ https://t.co/WJdmBBMHCZ', 'name': 'solis jimenez carmen', 'user_id': '975955338469040128', 'user_followers': 4, 'user_location': '', 'source': 'Twitter for Android', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \' ... (108 characters truncated) ... _url\': \'https://twitter.com/i/web/status/1331738799206969346\', \'display_url\': \'twitter.com/i/web/status/1\\u2026\', \'indices\': [117, 140]}]}"', 'reply_user_id': '18939115', 'reply_status_id': 'no', 'Tweet_Number_of_Likes': 1, 'Tweet_Number_of_Retweets': 0, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'https://t.co/WJdmBBMHCZ', 'stars': 1, 'stars_score': 0.50505877}, {'created_at': datetime.datetime(2020, 11, 25, 23, 15, 1), 'tweet_id': '1331738191137792006', 'Tweet_Content': 'RT @mangelpeirats: Abro hilo de c√≥mo @vodafone_es quiere robarme mis macarrones\n+', 'name': 'Mar√≠a', 'user_id': '143130865', 'user_followers': 597, 'user_location': 'Carabanchel', 'source': 'Twitter Web App', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'mangelpeirats\', \'name\': \'mangelpeirats\', \'id\': 124788537661981901 ... (69 characters truncated) ... een_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \'id_str\': \'18939115\', \'indices\': [37, 49]}], \'urls\': []}"', 'reply_user_id': 'no', 'reply_status_id': 'no', 'Tweet_Number_of_Likes': 0, 'Tweet_Number_of_Retweets': 9, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'no url', 'stars': 1, 'stars_score': 0.78337896}, {'created_at': datetime.datetime(2020, 11, 25, 23, 6, 59), 'tweet_id': '1331736167675555848', 'Tweet_Content': '@vodafone_es Alguna soluci√≥n?\nAlguna noticia?\nAlgo?', 'name': 'New Thunderfruit', 'user_id': '303095098', 'user_followers': 94, 'user_location': 'Espa√±a', 'source': 'Twitter for Android', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \'id_str\': \'18939115\', \'indices\': [0, 12]}], \'urls\': []}"', 'reply_user_id': '18939115', 'reply_status_id': '1331563408320319492', 'Tweet_Number_of_Likes': 1, 'Tweet_Number_of_Retweets': 0, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'no url', 'stars': 1, 'stars_score': 0.31963983}, {'created_at': datetime.datetime(2020, 11, 25, 23, 1, 54), 'tweet_id': '1331734887691407360', 'Tweet_Content': 'Detesto este tlfn dios CUANDO SER√Å QUE ME LLEGARA EL NUEVO????? @vodafone_es detesto.', 'name': 'Augusto B√¶ta', 'user_id': '613992461', 'user_followers': 1069, 'user_location': 'Madrid', 'source': 'Twitter for iPhone', 'entities': '"{\'hashtags\': [], \'symbols\': [], \'user_mentions\': [{\'screen_name\': \'vodafone_es\', \'name\': \'Vodafone Espa\\u00f1a\', \'id\': 18939115, \'id_str\': \'18939115\', \'indices\': [64, 76]}], \'urls\': []}"', 'reply_user_id': 'no', 'reply_status_id': 'no', 'Tweet_Number_of_Likes': 1, 'Tweet_Number_of_Retweets': 0, 'username': '@vodafone_es', 'GRUPO': 'Vodafone', 'urls': 'no url', 'stars': 1, 'stars_score': 0.75099164}  ... displaying 10 of 215459 total bound parameter sets ...  {'created_at': datetime.datetime(2021, 2, 2, 5, 8, 13), 'tweet_id': '1356469450384568320', 'Tweet_Content': 'Hola @jazztel_es  estoy hasta el nabo de vuestros cortes continuos en la red. No tengo permanencia con vosotros, vo‚Ä¶ https://t.co/1UtAI3Z54K', 'name': 'ùôãùôÑùôäùôÖùôÄùôàùôäùôé ‚ìá üì¢Chepas üêÄ', 'user_id': '1050834850872262658', 'user_followers': 683, 'user_location': 'Caracas, Venezuela', 'source': 'Twitter Web App', 'entities': '{"hashtags": [], "symbols": [], "user_mentions": [{"screen_name": "jazztel_es", "name": "Jazztel Espa\\u00f1a", "id": 330904171, "id_str": "330904171 ... (68 characters truncated) ...  "expanded_url": "https://twitter.com/i/web/status/1356469450384568320", "display_url": "twitter.com/i/web/status/1\\u2026", "indices": [117, 140]}]}', 'reply_user_id': 'no', 'reply_status_id': 'no', 'Tweet_Number_of_Likes': 0, 'Tweet_Number_of_Retweets': 0, 'username': '@jazztel_es', 'GRUPO': 'Orange', 'urls': 'https://t.co/1UtAI3Z54K', 'stars': 1, 'stars_score': 0.50715476}, {'created_at': datetime.datetime(2021, 2, 2, 5, 1, 55), 'tweet_id': '1356467863385755648', 'Tweet_Content': '@SoyJavierLeal @jazztel_es ¬°Lo que demuestra la confiscaci√≥n de 48 MMDP a 23 dizque empresarios mexicanos!.‚Ä¶ https://t.co/aEOd2RkHRt', 'name': 'Gerardo De La Huerta', 'user_id': '36204276', 'user_followers': 9366, 'user_location': 'M√©xico', 'source': 'Twitter Web App', 'entities': '{"hashtags": [], "symbols": [], "user_mentions": [{"screen_name": "SoyJavierLeal", "name": "@soyjavierleal", "id": 943122046992740352, "id_str": "943 ... (207 characters truncated) ...  "expanded_url": "https://twitter.com/i/web/status/1356467863385755648", "display_url": "twitter.com/i/web/status/1\\u2026", "indices": [109, 132]}]}', 'reply_user_id': '943122046992740352', 'reply_status_id': '1356236578566402049', 'Tweet_Number_of_Likes': 0, 'Tweet_Number_of_Retweets': 0, 'username': '@jazztel_es', 'GRUPO': 'Orange', 'urls': 'https://t.co/aEOd2RkHRt', 'stars': 1, 'stars_score': 0.7166741})
2021-02-03 19:07:26,229 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
df = pd.read_sql_query("SELECT * FROM twitter_operators_sent_02", engine, coerce_float=True, parse_dates=['created_at'])



df.info(memory_usage='deep')

2021-02-03 19:46:49,175 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM twitter_operators_sent_02
2021-02-03 19:46:49,176 INFO sqlalchemy.engine.base.OptionEngine {}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215459 entries, 0 to 215458
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   created_at                215459 non-null  datetime64[ns]
 1   tweet_id                  215459 non-null  object
 2   Tweet_Content             215459 non-null  object
 3   name                      215459 non-null  object
 4   user_id                   215459 non-null  object
 5   user_followers            215459 non-null  int64
 6   user_location             215459 non-null  object
 7   source                    215459 non-null  object
 8   entities                  215459 non-null  object
 9   reply_user_id             215459 non-null  object
 10  reply_status_id           215459 non-null  object
 11  Tweet_Number_of_Likes     215459 non-null  int64
 12  Tweet_Number_of_Retweets  215459 non-null  int64
 13  username                  215459 non-null  object
 14  GRUPO                     215459 non-null  object
 15  urls                      215459 non-null  object
 16  stars                     215459 non-null  int64
 17  stars_score               215459 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(12)
memory usage: 324.7 MB

In [13]:
print(len(df['username'].value_counts()))

df['username'].value_counts()

13

@vodafone_es    73137
@movistar_es    42927
@orange_es      24481
@yoigo          22154
@vodafoneyu     13674
@pepephone      11274
@masmovil       10861
@Lowi_es         9694
@o2es            3967
@Amena           1671
@simyo_es        1216
@jazztel_es       211
@TuentiES         192
Name: username, dtype: int64